- if flash[:notice]
  = render 'shared/success_notice'

%head
  %title Joynus Staffing | Healthcare
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
  = stylesheet_link_tag 'industry', media: 'all'
%body
  %section.no-spacing 
    .subpage-cover
      = image_tag "Healthcare.png", :alt => "Healthcare"  
      .subpage-text
        %h1
          %b
            HEALTHCARE
        %p
          
          Lifestyle and demographic changes, funding gaps and workforce shortages, ever changing political and regulatory 
          developments plays a large role in healthcare industry. With focus on Patient Centered Care at the center, customized 
          consumer demand, new technology products and controlling cost are shaping healthcare.

    .columns.large-12
      .path
        %a{:href => "/"}
          .srvIco1
            %i.icon-home
        %a{:href => "/"}
          %h5 Home  
        .srvIco11
          %i.icon-right     
        %a{:href => "/services"}
          %h5 Services 
        .srvIco11
          %i.icon-right
        %h5 Healthcare
  %section    
    .wrap          
                
      .pageleft
        .row        
          .columns.large-12
      
            %h2.text-center
              %b
                HEALTHCARE
            %p
              Lifestyle and demographic changes, funding gaps and workforce shortages, ever changing political and regulatory 
              developments plays a large role in healthcare industry. With focus on Patient Centered Care at the center, customized 
              consumer demand, new technology products and controlling cost are shaping healthcare.
           
            
            .columns.large-12
             
              %h5
                %b
                  POSITIONS WE EXCEL AT
                  %br/
              .columns.large-6
                %p
                  Physical Therapist<br>
                
                  Occupational Therapist<br>
                
                  Speech-Language pathologist<br>
                  
                  Case Manager <br>
                  
                  Master of Social Work <br>
                  
                  Certified Nurse Aide
              .columns.large-6
                %p
                  Personal Care Assistant<br>
                  Biller<br>
                  Travel Nurse<br>
                  Per-diem Nurse <br>
                  Locum Tenens Nurse
                    
               
               
                  

   
                
              
      .pageright
        .row
          .columns.large-10.large-offset-1
            %h2.text-center.no-margin-top
              %b
                = t 'contact.content-header'
            
        
        .form-section.no-spacing.mb--
          .row
            .columns.large-10.large-offset-1
              %fieldset.mb--
                = render 'contact/form'          
        
   

           
      