%head
  %title Joynus Staffing | Services | We provide best solutions
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
%body
  - if flash[:notice]
    = render 'shared/success_notice'
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('services-bg-mobile.jpg')}, (small)], [#{asset_path('services-bg-mobile.jpg')}, (medium)], [#{asset_path('service-bg.jpg')}, (large)]" } }


        .feature-text
          %h1.text-center.animated.fadeInDown
            / Don’t find fault. Find a remedy
            / People expect good service but few are willing to give it
            / Our service is rated by your profit
            / We listen to our customers deeply, or we will have none
            The more helpful you are, more pleasant we are
  
  %section
    .row
      .columns.large-6
        .employer-section-img
          = image_tag('industry2.png')
      .columns.large-6.text-center.m-top3    
        %h2.secondary-text
          Industry
        .columns.large-6
          %p
            %b Automotive
          %p
            %b Manufacturing 
          %p
            %b Healthcare 
          
        .columns.large-6
          %p
            %b Accounting &amp; finance
          %p
            %b Information technology
          %p
            %b Office &amp; administrative 
              
            
            
  %section
    .row
      %h2.secondary-text.text-center.m-top3 Staffing & Recruiting
    
  %section   
    .row
      %h2.text-center.secondary-text Staffing
      .box
        .columns.large-4.text-center
          .specialcontainer
            %a{:href => "/staff"}
              = image_tag 'staffing.png', :alt => 'Staffing', :class => "imageee", :style => "width:100%"
  
            .middle
              %a{:href => "/staff"}
                %p.text Staffing process
        .columns.large-5
          
          %p
            We provide a complete range of job placements with the appropriate skillsets our clients require.
            You will operate on your schedule so that you may be at ease with a pleasant overall experience.
            We are dedicated team of professionals who love their work and because of this,
            we repeatedly exceed our customer's expectations for every single one of our clients.<br>
            %b
              %a{:href => "/staff"}Learn more
  %section
    .row
      %h2.text-center.secondary-text Recruiting
      .box
        .columns.large-4.text-center
          .specialcontainer
            %a{:href => "/recruit"}
              = image_tag 'recruiting.png', :alt => 'Recruiting', :class => "imageee", :style => "width:100%"
  
            .middle
              %a{:href => "/recruit"}
                %p.textt Recruiting process
        .columns.large-5
          
          %p
            We present you with potential candidate who will be a permanent position in your organization.
            Joynus recruiting specialists will review your job description and dig our database and review a plethora of resumes.
            After we send you candidates who match your needs, you interview them and make a decision.
            %b
              %a{:href => "/recruit"} Learn more
            
  

            
            
            
  
  %section.wwdContent3.m-top1#bpo
    .row
      .columns.large-12
        %h2.text-center.secondary-text
          Business Process Outsourcing
      .box
        .columns.large-4.large-offset-1
          .specialcontainer
            =image_tag 'bpo1.png', :class => "img6", :style => "width:100%"
        .columns.large-5
        
          .row
            
            .columns.large-12
              %p 
                As a business process outsourcing partner, Joynus provides customer experiences and back office operations for our clients. 
                What is back office operation? &emsp;Call us and we'll tell you <br>
                %b #{link_to 'Contact us', contact_index_path}
     
    
  
    .row
      .columns.large-12
        .columns.large-6
          %h2.text-center.secondary-text What is BPO?
          %p Rather than focusing on cost reduction, strengthen the competitiveness, competencies thus growth of core business
          %p Provide benefits and solutions to customers by taking on operation and responsibility of their business related process
        .columns.large-6
          %h2.text-center.secondary-text Why use BPO?
          %p With high uncertainty and a rapidly changing world outsourcing is survival strategy to stay competitive and maintain competitive advantage
          %p Joynus BPO is the key to your outsource contract management so you can maximize your core business output
          %p Utilizing outsourcing service is proven to be more beneficial than using temporary, short-term, repetitive subcontracting

  %section.wwdContent3
  
    .row
      .columns.large-12
        %h2.text-center.secondary-text
          How it works
        %p.text-center 
          Outsourcing business area selection <br>
          %b
            %a{:href => "/services#bpo"} Learn more 
  
    
    .row.m-top3
      .columns.large-4.text-center
        %h4.secondary-text 1. Personnel management
        .specialcontainer1
          = image_tag 'personnel.png', :alt => 'Personnel', :class => "imagee"
            
          .middle1
            %p.text1
              
              Human resource <br>
              Payroll<br>
              DOL related<br>
              Benefit
      .columns.large-4.text-center
        %h4.secondary-text 2. Business management
        .specialcontainer1
          = image_tag 'business.png', :alt => 'Business', :class => "imagee"
          .middle1
            %p.text1
              
              Placement <br>
              Assignment<br>
              Work schedule<br>
              Job training
                
      .columns.large-4.text-center
        %h4.secondary-text 3. Process management
        .specialcontainer1
          = image_tag 'process.png', :alt => 'Process', :class => "imagee"
          .middle1
            %p.text1 
              
              Raw material purchase<br>
              Material<br>
              Product<br>
              Inventory
    .row.m-top3
      .columns.large-4.text-center
        %h4.secondary-text 4. Facility management
        .specialcontainer1
          = image_tag 'facility.png', :alt => 'Facility', :class => "imagee"
          
          .middle1
            %p.text1
              
              Equipment maintenance<br>
              Troubleshooting<br>
              Preventive maintenance<br>
              Regular repairs
      .columns.large-4.text-center
        %h4.secondary-text 5. Production management
        .specialcontainer1
          = image_tag 'production.png', :alt => 'Production', :class => "imagee"
          .middle1
            %p.text1
              
              Quality control<br>
              Production planning<br>
              Inventory planning<br>
              Supply chain management
      .columns.large-4.text-center
        %h4.secondary-text 6. Organization management
        .specialcontainer1
          = image_tag 'organization.png', :alt => 'Organization', :class => "imagee"
          .middle1
            %p.text1 
              
              HR & general affairs<br>
              Sales & planning<br>
              Maintenance<br>
              Production & Logistics
        



  %section#consultation
    .row
      .columns.large-12
        %h2.secondary-text.text-center Consultation
        .box
          .columns.large-6
            =image_tag 'new.png', :class => "img0"  
          .columns.large-6
            %p
              %b
                New to the area or industry?
              %br
              We have connections with firms of all sizes and industries and a range of diverse talent nation wide
              to provide insight into industry standards, including compensation information
          
            
        .columns.large-12
          %p
            Our trained team will utilize strategic marketing tools, including mass communication compaigns and job boards, and connections within
            our extensive network to target the talent pool that would be the best fit for your next hire
    %section
      .row
        .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
          %h4.secondary-text.text-center Targeted advertising 
          .srvIco2
            %i
              = image_tag 'TargetedAd.png', :class => 'img4'
        .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1000"}
          %h4.secondary-text.text-center Localized demographic
          .srvIco2
            %i
              = image_tag 'LocalDemograph.png', :class => 'img4'
        .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
          %h4.secondary-text.text-center Hiring foreign nationals
          .srvIco2
            %i
              = image_tag 'InternationalHiring.png', :class => 'img4'
      .row.m-top3
        .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
          %h4.secondary-text.text-center Competitor analysis
          .srvIco2
            %i
              = image_tag 'CompetitorAnalysis.png', :class => 'img4'
        .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1000"}
          %h4.secondary-text.text-center Outsourcing
          .srvIco2
            %i
              = image_tag 'Outsourcing.png', :class => 'img4'
        .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
          %h4.secondary-text.text-center Strategic marketing
          .srvIco2
            %i
              = image_tag 'StrategicMarketing.png', :class => 'img4'
            
            


            
.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'