%head
  %title Joynus Staffing | Services | We provide best solutions
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('staff-bg-mobile.jpg')}, (small)], [#{asset_path('staff-bg-mobile.jpg')}, (medium)], [#{asset_path('staff-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            WHAT WE DO
            /Right talents equal to the growth of company
            / Don’t find fault. Find a remedy
            / People expect good service but few are willing to give it
            / Our service is rated by your profit
            / We listen to our customers deeply, or we will have none

        
  
  %section
    %h2.secondary-text.text-center
      Our Specialized Staffing Services 
    
    .row
      .columns.large-12
        .columns.large-4
          .text-center{"data-aos" => "zoom-in","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}  
            %a{:href => "services/automotive"}
              = image_tag 'Icon Automotive.png', :alt => 'Automotive', :class => "img8"
            %p
              %b
                Automotive   
        .columns.large-4       
          .text-center{"data-aos" => "zoom-in","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
            %a{:href => "services/accounting"}
              = image_tag 'Icon Finance.png', :alt => 'Accounting & Finance', :class => "img8"
            %p
              %b
                Accounting & Finance
        .columns.large-4        
          .text-center{"data-aos" => "zoom-in","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "2500"}
            %a{:href => "services/healthcare"}
              = image_tag 'Icon Healthcare.png', :alt => 'Healthcare', :class => "img8"
            %p
              %b
                Healthcare
          
    .row.m-top5
      .columns.large-12
        .columns.large-4
          .text-center{"data-aos" => "zoom-in","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
            %a{:href => "services/manufacturing"}
              = image_tag 'Icon Manufacturing.png', :alt => 'Manufacturing', :class => "img8"
            %p
              %b
                Manufacturing
        .columns.large-4        
          .text-center{"data-aos" => "zoom-in","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
            %a{:href => "services/office"}
              = image_tag 'Icon Office.png', :alt => 'Office & Administrative', :class => "img8"
            %p
              %b
                Office & Administrative
        .columns.large-4        
          .text-center{"data-aos" => "zoom-in","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "2500"}
            %a{:href => "services/it"}  
              = image_tag 'IT Icon.png', :alt => 'IT', :class => "img8"
            %p
              %b
                Information Technology

                
    


  .row#industry.content-section
    
    
    .row
      .box
        .columns.large-4
          %a{:href => "/staff"}
            = image_tag 'staffing.png', :alt => 'Staffing', :class => "img000"
      
        .columns.large-8
          %h2.secondary-text Staffing  
          %p
            Flexible, fast and convenient way to add workforce per your immediate need. 
            During your peak season leverage temporary workforce <br>
            %b
              %a{:href => "/staff"} Learn More 
          
    .row
      .box
        .columns.large-4
          %a{:href => "/directhire"}
            = image_tag 'recruiting.png', :alt => 'Direct Hire', :class => "img000"
        .columns.large-8
          %h2.secondary-text Direct Hire    
          %p
            We devote extensive time and resources to understand your organization’s unique culture, environment, leadership style and business goals and challenges. Then we carefully select potential candidates for you to choose.
            When you make the decision, the candidate becomes permanent employee of your organization<br>
            %b
              %a{:href => "/directhire"} Learn More
              
    .row
      .box
        .columns.large-4
          %a{:href => "/bpo"}
            =image_tag 'bpo1.png', :class => "img000", :alt => 'BPO'
        .columns.large-8
          %h2.secondary-text BPO  
          %p 
            Smart companies focus on their core business functions. Rather than focusing on cost reduction, companies strengthen the competitiveness by outsourcing things that are not in their core business,
            so you can maximize your core business output. <br>
            %b   
              %a{:href => "/bpo"} Learn More    
    .row
      .box
        .columns.large-4
          %a{:href => "/consultation"}    
            =image_tag 'Consulting.png', :alt => "Consultation", :class => "img000"  
        .columns.large-8
          %h2.secondary-text Consultation
          %p
            New to the area or industry?  We have connections with firms of all sizes and industries and a range of diverse talent nationwide to provide insight into industry standards,
            including compensation info.  <br>
            %b   
              %a{:href => "/consultation"} Learn More         

.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'
  
/
  .row#industry.content-section
    .columns.xlarge-12
      %h2.text-center.secondary-text
        Services
    
          
  
  
  .grid-container
    .grid-items.text-center
      
      %h2.secondary-text Staffing 
      %a{:href => "#staffing"}
        = image_tag 'staffing.png', :alt => 'Staffing', :class => "img7"
       
      %p
        Joynus provides a complete range of job placements <br>
        %b.text-center
          %a{:href => "#staffing"} Learn More 
    .grid-items.text-center
      %h2.secondary-text Direct hire
      %a{:href => "#directhire"}
        = image_tag 'recruiting.png', :alt => 'Recruiting', :class => "img7"
        
      %p
        Joynus presents you with potential candidates<br>
        %b
          %a{:href => "#directhire"} Learn More
          
    .grid-items.text-center
      %h2.secondary-text BPO
      %a{:href => "#bpo"}
        =image_tag 'bpo1.png', :class => "img7", :alt => 'BPO'
      %p 
        Joynus provides customer experiences and back office operations<br>
        
        %b   
          %a{:href => "#bpo"} Learn More    
    .grid-items.text-center
      %h2.secondary-text.text-center Consultation
      %a{:href => "#consultation"}    
        =image_tag 'new.png', :alt => "Consultation", :class => "img7"  
        
      %p
        New to the area or industry?<br>
        %b   
          %a{:href => "/services#consultation"} Learn More             
