%head
  %title Joynus Staffing | Services | We provide best solutions
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
%body
  - if flash[:notice]
    = render 'shared/success_notice'
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('services-bg-mobile.jpg')}, (small)], [#{asset_path('services-bg-mobile.jpg')}, (medium)], [#{asset_path('services-bg.jpg')}, (large)]" } }


        .feature-text
          %h1.text-center.animated.fadeInDown
            / Don’t find fault. Find a remedy
            / People expect good service but few are willing to give it
            / Our service is rated by your profit
            / We listen to our customers deeply, or we will have none
            The more helpful you are, more pleasant we are
  
  %section
  .row
    .columns.large-6
      .employer-section-img
        = image_tag('industry2.png')
    .columns.large-6.text-center.m-top3    
      %h2.secondary-text
        Industry
      .columns.large-6
        %p
          %b Automative
        %p
          %b Manufacturing 
        %p
          %b Healthcare 
        
      .columns.large-6
        %p
          %b Accounting &amp; finance
        %p
          %b Information technology
        %p
          %b Office &amp; administrative 
              
            
            
  %section
    %h2.secondary-text.text-center.m-top3 Staffing &amp; recruiting
    .row.box.m-top3
      .columns.large-4.text-center
        .specialcontainer
          %a{:href => "/staff"}= image_tag 'staff1.png', :alt => 'Staffing', :class => "imagee", :style => "width:100%"

          .middle
            %a{:href => "/staff"}
              %p.text Staffing process
      .columns.large-5
        %h2.text-center.secondary-text Staffing
        %p
          We provide a complete range of job placements with the appropriate skillsets our clients require.
          You will operate on your schedule so that you may be at ease with a pleasant overall experience.
          We are dedicated team of professionals who love their work and because of this,
          we repeatedly exceed our customer's expectations for every single one of our clients.
          %a{:href => "/staff"}Learn more
    .row.box.m-top3
      .columns.large-4.text-center
        .specialcontainer
          %a{:href => "/recruit"}= image_tag 'recruit.png', :alt => 'Recruiting', :class => "imagee", :style => "width:100%"

          .middle
            %a{:href => "/recruit"}
              %p.text Recruiting process
      .columns.large-5
        %h2.text-center.secondary-text Recruiting
        %p
          We present you with potential candidate who will be a permanent position in your organization.
          Joynus recruiting specialists will review your job description and dig our database and review a plethora of resumes.
          After we send you candidates who match your needs, you interview them and make a decision.
          %a{:href => "/recruit"} Learn more
  %section.wwdContent3
    %section#bpo
      .row
        .columns.large-12
          %h2.text-center.secondary-text
            Business process outsourcing(BPO)
      .row
        .columns.large-12.text-center
          %p
            As a business process outsourcing partner, Joynus provides customer experiences and back office operations for our clients.
            %br/
            What is back office operation? Call us and we'll tell you #{link_to 'Contact us', contact_index_path}
    %section
      .row
        .columns.large-12
          .columns.large-6
            %h2.text-center.secondary-text What is BPO?
            %p Rather than focusing on cost reduction, strengthen the competitiveness, competencies thus growth of core business
            %p Provide benefits and solutions to customers by taking on operation and responsibility of their business related process
          .columns.large-6
            %h2.text-center.secondary-text Why use BPO?
            %p With high uncertainty and a rapidly changing world outsourcing is survival strategy to stay competitive and maintain competitive advantage
            %p Joynus BPO is the key to your outsource contract management so you can maximize your core business output
            %p Utilizing outsourcing service is proven to be more beneficial than using temporary, short-term, repetitive subcontracting




%section.wwdContent4
  %section#consultation
    .row
      .columns.large-12
        %h2.secondary-text.text-center Consultation
        .columns.large-5
          %p
            New to the area or industry?
            %br
              We have connections with firms of all sizes and industries and a range of diverse talent nation wide
              to provide insight into industry standards, including compensation information
        .columns.large-5
          %p
            Our trained team will utilize strategic marketing tools, including mass communication compaigns and job boards, and connections within
            our extensive network to target the talent pool that would be the best fit for your next hire
    %section
      .row
        .columns.large-4.text-center
          %p.secondary-text.text-center Targeted advertising & access to our network
          .srvIco2
            %i.icon-target
        .columns.large-4.text-center
          %p.secondary-text.text-center Localized demographic
          .srvIco1
            %i.icon-chart-pie
        .columns.large-4.text-center
          %p.secondary-text.text-center Hiring foreign nationals
          .srvIco1
            %i.icon-users
      .row.m-top3
        .columns.large-4.text-center
          %p.secondary-text.text-center Competitor analysis
          .srvIco1
            %i.icon-chart-bar
        .columns.large-4.text-center
          %p.secondary-text.text-center Outsourcing
          .srvIco1
            %i.icon-arrows-cw
        .columns.large-4.text-center
          %p.secondary-text.text-center Strategic marketing
          .srvIco1
            %i.icon-chart-line
.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'