- if flash[:notice]
  = render 'shared/success_notice'

%head
  %title Joynus Staffing | Information Technology
  %meta{:content => "We have your best interest at heart", :name => "Description"}/
  = stylesheet_link_tag 'industry', media: 'all'
%body
  %section.no-spacing 
    .subpage-cover
      = image_tag "Automotive.png", :alt => "Automotive"  
      .subpage-text
        %h1
          %b
            INFORMATION TECHNOLOGY
        %p
          Today in some shape or form, most companies are a tech company. 
          Today’s world runs on information technology. Our businesses, culture, lives 
          have been transformed by it. Technological innovation is expanding all sectors of industries. It’s likely that in order to take the next step you need, you need to ramp up your IT team. Let us hear what you want to accomplish 
         
            
  
        
    .columns.large-12.large-offset-1
      .path
        %a{:href => "/"}
          .srvIco1
            %i.icon-home
        %a{:href => "/"}
          %h5 home    
        .srvIco11
          %i.icon-right     
        %a{:href => "/services"}
          %h5 Services 
        .srvIco11
          %i.icon-right
        %h5 Information Technology
  %section  
    .wrap          
                
      .pageleft
        .row        
          .columns.large-12
      
            %h2.text-center
              %b
                INFORMATION TECHNOLOGY
            %p
              Today in some shape or form, most companies are a tech company. Today’s world runs on 
              information technology. Our businesses, culture, lives have been transformed by it. 
              Technological innovation is expanding all sectors of industries. It’s likely that in order to 
              take the next step you need, you need to ramp up your IT team. Let us hear what you want to accomplish 
            
            .columns.large-12
             
              %h5
                %b
                  POSITIONS WE EXCEL AT
                  %br/
              .columns.large-6
                %p
                  Business Intelligence Developer<br>
                
                  Business Analyst<br>
                
                  Data Architect<br>
                  
                  Data Scientist <br>
                  
                  Database Administrator <br>
                  
                  DevOps Engineer <br>
                  
                  Information Security Analyst<br>
                  
                  IT Help Desk Technician and Support
              .columns.large-6
                %p
                  Mobile App Developer <br>
                  
                  Network Administrator <br>
             
                  Project Manager <br>
                  Quality Assurance Analyst<br>
                  Salesforce Administrator <br>
                  UI/UX Designer<br>
                  Web Developer
                  
                  
                
              
      .pageright
        .row
          .columns.large-10.large-offset-1
            %h2.text-center.no-margin-top
              %b= t 'contact.content-header'
            
        
        .form-section.no-spacing.mb--
          .row
            .columns.large-10.large-offset-1
              %fieldset.mb--
                = render 'contact/form'          
        
   
      