
.row
  .columns.large-12
    .breadcrumb
      = link_to unapproved_jobs_path do
        %i.fa.fa-angle-left
        Unapproved Jobs
      .right
        = link_to 'Delete', job_path(@job), class: 'button tiny radius alert', action: 'destroy', method: :delete, data: { confirm: "Are you sure?" }
        = link_to 'Edit', edit_unapproved_job_path(@job), class: 'button tiny radius ml'

= form_tag approve_jobs_path, method: :put do
  = hidden_field_tag :job_ids, @job.id
  %section#job-show-header.mb--
    .row
      .columns.large-6
        .job-info
          %p.mb
            %strong= @job.company
          %p.mb= @job.title
          %p.no-margin
            %span.job-info-label Department
            %span= @job.department
          %p.no-margin
            %span.job-info-label Language
            %span= @job.language
          %p.no-margin
            %span.job-info-label Salary
            %span= @job.salary.is_int? ? number_to_currency(@job.salary.to_i, precision: 0) : @job.salary
          %p.no-margin
            %span.job-info-label Location
            %span= @job.try(:location).html_safe
      .columns.large-6
        .apply-now
          = submit_tag 'Approve Job', class: 'button secondary radius no-margin'

.row
  .columns.large-12
    = markdown @job.description
