%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
  = stylesheet_link_tag 'application', media: 'all'  
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container3
        %img{ data: { interchange:"[#{asset_path('staff-bg-mobile.jpg')}, (small)], [#{asset_path('staff-bg-mobile.jpg')}, (medium)], [#{asset_path('staff-bg.jpg')}, (large)]" } }
        .feature-text3
          %h1.text-center.animated.fadeInDown
            Staffing
          %h5 Flexible, Fast and convenient way to add workforce per your immediate need
  %section        
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Discovery.png', :alt => 'Staffing', :class => "img55"  
        .columns.large-8
          %h2
            Temporary&#47;Contingent Staffing
          %p
            Utilize Joynus workforce to manage costs and have the flexibility. Take advantage of Joynus standby workforce. Temporary staffing is perfect for the peak season
            
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Discovery.png', :alt => 'Staffing', :class => "img55"  
        .columns.large-8
          %h2
            Temporary-To-Hire
          %p
            After having temporary workforce work for you awhile, you decide who is good fit for your organization and hire them on to your organization as a full time employee. It’s a trial before commitment
  %section
    %hr    
    
  %section
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon_Impact.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            Discovery
          %p
            Discovery is powerful and extremely efficient and effective way to clarify and 
            shape the solution. This is where we get all the project stakeholders on the same 
            page and scale the project
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon_Innovation.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            Assessment
          %p
            Per our discovery we will present you with few resumes and may arrange an interview. 
            First feedback is the most important as it will set us up for which direction we head and keep us efficient 
    
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon Healthcare.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            Orientation
          %p
            We orient candidates on policies, safe work practices, background check, drug screen, credit check, 
            verify education and reference. At request, we even evaluate them on their past work performances and prior 
            incidents to protect your business
            
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon Automotive.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            Placement
          %p
            We place our temporary associate by the time and date you requested. At the same time, 
            we will have active standby associates to meet your future demands. 
            See how we meet your needs with Onsite Management Program        
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon Finance.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            High volume
          %p
            Having large number of associates working in one location is our expertise. 
            No matter what, we ensure your production doesn’t stop. It entails safety, attendance, retention, training,
            communication and no excuse attitude
    
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon Office.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            Retention
          %p
            It’s inefficient to have turnover. It hurts especially when the well trained, well performing individual leaves. 
            Retention is our #1 strength. Our expertise in retention is why many clients hire us. 
            We don’t have a perfect strategy for retention. Instead, we have perfect strategies
            
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon_Stewardship.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            Migration / Conversion
          %p
            We may be converting Joynus temporary associate into your organization. 
            Or, it may be converting large number of temporary associates from one company to another. 
            We have built standard operating procedures for this to never miss any details 
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon_Innovation.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            RPO
          %p
            Now that you’ve learned how to hire. You can do it yourself. Try our Recruitment Process Outsourcing. 
            We can completely take over all hiring practice of your organization and make Joynus be part of your
            recruitment department. Our dedicated recruiter or team of people will work along side your team. 
            They will still utilize Joynus proprietary system and receive ongoing training. It’s like buying all of Joynus 
            intellectual property without paying for it
    
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Icon_Engagement.png', :alt => "Impact", :class => 'img55' 
        .columns.large-8
          %h2
            On-Site Management Service
          %p
            On-site manager is your partner and extension of your management team who is integrated into your culture sharing your concerns and joys
            Joynus offers you the peace of mind as a single point of contact, maintains daily communication and able to resolve issues immediately
            The On Site Management is ideal for high-volume workforce, managing different levels and             
           
  .extra-navigation.m-top3    
    %a{:href => "/directhire"}
      .item
        = image_tag 'staffing.png', :alt => "Impact", :class => 'img55' 
        %h2
          Direct Hire
        %p{:style => "color:black"}
          We devote extensive time and resources
        %p
          %b
            %a{:href => "/directhire"} Learn More  
    %a{:href => "/bpo"}
      .item
        = image_tag 'bpo1.png', :alt => "Impact", :class => 'img55' 
        %h2
          BPO
        %p{:style => "color:black"}
          We devote extensive time and resources   
        %p  
          %b
            %a{:href => "/bpo"} Learn More  
      
/
  .button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'