%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('staff-bg-mobile.jpg')}, (small)], [#{asset_path('staff-bg-mobile.jpg')}, (medium)], [#{asset_path('staff-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            Right People,<br> Right Now
  
          
  .row#staffing
    .box
      .columns.large-4
        %a{:href => "#staffing_process"}
          = image_tag 'staffing.png', :alt => 'Staffing', :class => "imggg"  
      .columns.large-8
        %h2.secondary-text Staffing
        %p
          Flexible, Fast and convenient way to add workforce per your immediate need. During your peak season leverage temporary workforce
        
              
    
  .row        
    .columns.large-12.div
      
      %h2.text-center.secondary-text What We Do
      %p
        %b.secondary-text Temp <br>
        Utilize Joynus workforce to manage costs and have the flexibility. Take advantage of Joynus standby workforce. On demand staffing is perfect for the peak season
      %p
        %b.secondary-text Temp to hire <br>
        b.	Temporary to hire: After having temporary workforce work for you awhile, you decide who is good fit for your organization and hire them on to your organization
        as a full time employee. It’s a trial before commitment
      %p  
        %b.secondary-text Retention Program <br>
        Depending on your industry and business, we will recommend appropriate programs. Retention programs are created with performance recognition, relationship with supervisor, gratitude, communication. 
      %p
        %b.secondary-text On Site Management<br>
      
        i.	On-site manager is your partner and extension of your management team who is 
        integrated into your culture sharing your concerns and joys <br>
        ii.	On-site Manager offers you the peace of mind as a single point of contact, 
        maintains daily communication and able to resolve issues immediately
        is part of your team sharing your concerns and joys together. <br>
        iii. On Site Management is ideal for high-volume workforce, managing different 
        levels and categories in a large area. Ensures consistent attendance, compliance and 
        single point of contact <br>
        
        iv.	Why choose on-site management
        

   
  .row
    .columns.large-2.text-center
      .srvIco2
        %i
          = image_tag 'Icon_Engagement.png', :class => 'img-onsite'
    .columns.large-4
      %h5.text-center
        %b.secondary-text
        
          Productivity
      %p
        The On-Site Manager’s goals are tied to the client’s goals.  The On-Site manager is empowered to make decisions on performance and attendance and ensures productivity remains high.       
    .columns.large-2.text-center
      .srvIco2
        %i
          = image_tag 'Icon_Impact.png', :alt => "Impact", :class => 'img-onsite'
    .columns.large-4
      %h5.text-center.secondary-text
        %b
          Impact
      %p
        When there is a turnover, our On-site Manager will work with Shift supervisor 
        and train them on job basics and monitor the quality to ensure no disruption
        to production and no damage to quality
    
  .row     
    .columns.large-2.text-center
      .srvIco2
        %i
          = image_tag 'Icon_Stewardship.png', :alt=>"Stewardship", :class => 'img-onsite'
    .columns.large-4
      %h5.text-center
        %b.secondary-text
          Leadership
      %p
        The On-Site Manager is a direct communication line to the workforce. 
        On-Site Manager knows their name, and builds relationships with them and manages any disputes, concerns, issues and focus    
    .columns.large-2.text-center
      .srvIco2
        %i
          = image_tag 'Icon_Innovation.png', :alt=>"Innovation",  :class => 'img-onsite'
    .columns.large-4
      %h5.text-center
        %b.secondary-text
          Innovation
      %p
        We continuously work to improve our systems and processes. 
        Or, you may make changes that need implemented correctly. 
        Either way, the On-Site Manager trains, monitors and assure the changes are implemented.    
%section
  .row#staffing_process{"data-aos" => "zoom-in-down","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}
    .columns.large-12
      %h2.text-center.secondary-text
        Staffing Process
      %p
        First, we want to know the details of how your business works; more I know about 
        you better I can do my job. Then we will use our proprietary system to have right 
        people ready. We will have a list of standby temporary associates so whenever 
        you request, we send you employees right away. Right people, right now. 
        As they work we will shift our focus on retention and management
      %p
        We provide a complete range of job placements with the appropriate skillsets our clients require. 
    .columns.large-12.m-top5
      %img{ data: { interchange:"[#{asset_path('Staffing_process_ver.png')}, (small)], [#{asset_path('Staffing_process_ver.png')}, (medium)], [#{asset_path('Staffing_process_hor.png')}, (large)]" } }  
      
  
    .row{"data-aos" => "zoom-in","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}
      .box    
        .columns.large-6
          = image_tag 'hr-management.png', :class => "imgg"
        .columns.large-6
          %h2.secondary-text Employee Management
          %p
            Our pool of qualified candidates are assigned to a qualified job. Our work doesn't end here. 
            <br>We ensure that our people do their daily activity. We also manage their attendance, performance and continued training
          
  #id02.w3-modal
    .w3-modal-content.w3-card-4.w3-animate-zoom
      %header.w3-container.w3-blue
        %span.w3-button.w3-blue.w3-xlarge.w3-display-topright{:onclick => "document.getElementById('id02').style.display='none'"} ×
        %h2.w3-text-white Safety Training 
      .w3-bar.w3-border-bottom
        %button.tablink.w3-bar-item.w3-button{:onclick => "openCity(event, 'Video')"} Safety
        
        
      #Video.w3-container.city.video-responsive
        %h2.primary-text Safety Video
        %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :width => "100%", :height => "70%", :src => "https://www.youtube.com/embed/XGNKbCtZ6vY?rel=0"}
    


               
    
    

  .row#compliance{"data-aos" => "zoom-in-right","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}
    .box
      
      .columns.large-6.large-push-6
        = image_tag 'compliance.jpg', :class => "imgg" 
    
      .columns.large-6.large-pull-6
        %h2.secondary-text.text-center Compliance
        %p.text-center Joynus conducts safe work practices, pre-interview, background test, and drug test. We even evaluate them on their past work performances and prior incidents to protect businesses
        .columns.large-6.text-center
          %a{:onclick => "document.getElementById('id02').style.display='block'"}
            %p
              %b Safety
          %p.text-thin{:style=>'line-height:normal;'}
            %b Drug screen <br>
          
            10 panel drug screen<br>
          
          %p{:style=>'line-height:normal;'}
            %b Criminal history <br>
          
            Nation, state & county
            
          
        .columns.large-6.text-center 
          %p
            %b Education verification
          
          %p{:style=>'line-height:normal;'}
            %b I-9 & E-verify <br>
          
            Identity verification
          
          %p
            %b Reference verification
      
      
        

  .row#retention{"data-aos" => "zoom-in-right","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}        
    .box
      .columns.large-6
        = image_tag 'Rains Money.jpg', :class => "imgg" 
    
      .columns.large-7
        %h2.secondary-text.text-center#retention Employee Retention
        %p.text-center Good talent is hard to find thus we want to keep them
        .columns.large-4.text-center.large-offset-1
          %p
            %b Enjoy the tour
          %p
            %b Holiday referral
          %p
            %b Raffle Ticket
          %p
            %b Joynus board
          
        .columns.large-7.text-center
          
          %p
            %b Employee wellness analysis
          %p
            %b Performance evaluations  
          %p
            %b Employee of the month  
          %p
            %b Perfect performance bonus
            
       
      
      

  .row{"data-aos" => "zoom-in-up","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}    
    .box
      .columns.large-6.large-push-6.m-top3
        = image_tag 'payroll.jpg', :class => "imgg" 
    
      .columns.large-6.large-pull-6.text-center 
        %h2.secondary-text Employee Payroll
        .columns.large-10.large-offset-1
          %p  We take care of employees' payroll, thus our clients don't have to worry or spend time on it
        .columns.large-12
          %p
            %b Direct deposit<br>
          %p
            %b Paper checks<br>
          %p
            %b Pay cards       
.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'