%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('staff-bg-mobile.jpg')}, (small)], [#{asset_path('staff-bg-mobile.jpg')}, (medium)], [#{asset_path('staff-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            Right talents equal to the growth of company
  
          
          
  .row
    .columns.large-12
      %h2.text-center.secondary-text.m-top3
        Staffing process       
          
  %section
    .slideshow-container
      .mySlides.fade
        .numbertext
          %h2 Discovery
        = image_tag 'discovery.jpg', :alt => 'Discovery', :style => "width:100%"  
        
        .stext
          %p
            The discovery stage is beginning the process of getting to know you and
            letting you know more about us. More importantly, we want to know if we are able to provide a solution for your business. Questions??
            %b
              %a{:alt => "contact", :href => "/contact"} Contact Us
      .mySlides.fade
        .numbertext
          %h2 Assessment
        = image_tag 'assessment.jpg', :alt => 'Assessment', :style => "width:100%"   
        
        .stext
          %p
            After getting acquainted, we may prepare one or a few different options that may be a good fit for you. We discuss some of the areas we fill
            would be beneficial and other areas that may be helpful down the line
      .mySlides.fade
        .numbertext
          %h2 Preparation
        = image_tag 'preparation.jpg', :alt => 'preparation', :style => "width:100%" 
        
        .stext
          %p
            Staffing is an ongoing process. We consistently post jobs on our social media, job boards, and coordinate with the city to schedule job fairs
            so that we are able to consistently provide you with the workforce 
      .mySlides.fade
        .numbertext
          %h2 Orientation
        = image_tag 'orientation.jpg', :alt => 'orientation', :style => "width:100%"   
        
        .stext
          %p
            Joynus sends in the right talent to your business. This is where orientation comes in.<br>
            We educate our applicants on our rules and regulations
          
           
      .mySlides.fade
        .numbertext
          %h2 Stand-by
        = image_tag 'standby.jpg', :alt => 'Stand-by', :style => "width:100%" 
        
        .stext
          %p
            Once we completed orientation, we place all eligible candidates on stand-by. Stand-by is a list of candidates that meet the requirements to work on-site
            that we fill would be the ideal employee for you long term
      %a.prev{:onclick => "plusSlides(-1)"} ❮
      %a.next{:onclick => "plusSlides(1)"} ❯
    %br/
    %div{:style => "text-align:center"}
      %span.dot{:onclick => "currentSlide(1)"}
      %span.dot{:onclick => "currentSlide(2)"}
      %span.dot{:onclick => "currentSlide(3)"}
      %span.dot{:onclick => "currentSlide(4)"}
      %span.dot{:onclick => "currentSlide(5)"}
      
      
%section
  .row
    .columns.large-12
      
      %h2.text-center.secondary-text Temp, Temp to hire &amp; Short term
      %p
        %b Temp -
        Temporary employment is an ideal solution for unpredictable workloads, project work, seasonal peaks, and other limited-term needs, such as a leave of absence. Temp positions typically have a set timeframe. Through all assignments, the talent is employed by the staffing firm
      %p
        %b Temp to hire -
        Temp-to-hire is a working arrangement in which a worker is hired first on a temporary basis – usually through a temporary staffing agency – with the possibility of the position becoming full-time
      %p
        %b Short term -
        short-term employment are workers who hold explicit or implicit contracts of employment which are expected to last longer than the period used to define casual workers, but shorter than the one
        used to define regular employees. These workers may be classified as employees or own- account workers according to the specific characteristics of the employment contract      
      
%section
  .row
    .columns.large-12.text-center
      %h2.secondary-text Employee management system
      %p
        Our pool of qualified candidates are assigned to a qualified job. Our work doesn't end here. 
        <br>We ensure that our people do their daily activity. We also manage their attendance, performance and continued training
        

%section#compliance
  .row
    .box  
      .columns.large-6
        %h2.secondary-text.text-center Compliance
        %p.text-center Joynus conducts pre-interview, background test, and drug test. We even evaluate them on their past work performances and prior incidents to protect businesses
        .columns.large-6.text-center
          %p
            %b Drug screen <br>
            10 panel drug screen<br>
            Alcohol test
          %p
            %b Criminal history<br>
            Nation, state & county
        
        .columns.large-6.text-center 
          %p
            %b I-9 & E-verify<br>
            Identity verification
           
          %p
            %b Education verification
          %p
            %b Reference verification
      
      .columns.large-6
        = image_tag 'compliance.jpg', :class => "imgg" 
        
        
  .row
    .box
      .columns.large-6
        = image_tag 'Rains Money.jpg', :class => "imgg" 
    
      .columns.large-7
        %h2.secondary-text.text-center#retention Employee retention
        %p.text-center We know that good talent is hard to find thus we want to keep them
        .columns.large-6.text-center
          
          %p
            %b Employee wellness analysis
          %p
            %b Performance evaluations  
          %p
            %b Employee of the month  
          %p
            %b Perfect performance bonus
            
        .columns.large-6.text-center 
          %p
            %b Enjoy the tour
          %p
            %b Holiday referral
          %p
            %b Raffle Ticket
          %p
            %b Joynus board
      
      
    
  .row
    .box
      .columns.large-7.large-push-6.m-top3
        = image_tag 'payroll.jpg', :class => "imgg" 
    
      .columns.large-6.large-pull-7.text-center 
        %h2.secondary-text Employee payroll
        %p  We take care of employees' payroll, thus our clients don't have to worry or spend time on it
        
        %p
          %b Direct deposit<br>
        %p
          %b Paper checks<br>
        %p
          %b Pay cards
      
      
.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'