%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('staff-bg-mobile.jpg')}, (small)], [#{asset_path('staff-bg-mobile.jpg')}, (medium)], [#{asset_path('staff-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            Do what you do best, <br> Outsource the rest
  
          
  
  %section.wwdContent3.m-top1#bpo
    .row
      .columns.large-12
        %h2.text-center.secondary-text
          Business Process Outsourcing
      .box
        .columns.large-4.large-offset-1
          .specialcontainer
            =image_tag 'bpo1.png', :class => "img6", :style => "width:100%"
        .columns.large-6
        
          .row
            
            .columns.large-12
              %p 
                Smart companies focus on their core business functions. 
                Rather than focusing on cost reduction, companies strengthen the competitiveness 
                by outsourcing things that are not in their core business, so you can maximize your 
                core business output. 
             
                We take on segment of your operation and responsibility
    .row
      .columns.large-12
        %p
          As a Business Process Outsourcing partner, Joynus provides client experiences 
          and back office operations for our clients. 
          What is back office operation? Call us and we’ll tell you
          %b
            = link_to t('header.contact-us'), contact_index_path

    .row
      .columns.large-12
        .columns.large-6
          %h5.text-center.secondary-text 
            %b Why use BPO?
          %p With high uncertainty and a rapidly changing world outsourcing is survival strategy to stay competitive and maintain competitive advantage
          %p Joynus BPO is the key to your outsource contract management so you can maximize your core business output
          %p Utilizing outsourcing service is proven to be more beneficial than using temporary, short-term, repetitive subcontracting
        .columns.large-5.large-offset-1
          %h5.text-center.secondary-text 
            %b Services
          %p
            Manufacturing Operation 
          %p
            Quality Control including Third Part Inspection
          %p
            Maintenance Outsourcing
          %p
            CKD Logistics and Supply Chain Management
          %p
            Packaging
            
  %section.wwdContent3
  
    .row
      .columns.large-12
        %h2.text-center.secondary-text
          How it works
        %p.text-center 
          Outsourcing business area selection <br>
          
  
    
    .row.m-top3
      .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
        %h5.secondary-text  1. Personnel management
        .specialcontainer1
          = image_tag 'personnel.png', :alt => 'Personnel', :class => "imagee"
            
          .middle1
            %p.text1
              
              Human resource <br>
              Payroll<br>
              DOL related<br>
              Benefit
      .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1000"}
        %h5.secondary-text 2. Business management
        .specialcontainer1
          = image_tag 'business.png', :alt => 'Business', :class => "imagee"
          .middle1
            %p.text1
              
              Placement <br>
              Assignment<br>
              Work schedule<br>
              Job training
                
      .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
        %h5.secondary-text 3. Process management
        .specialcontainer1
          = image_tag 'process.png', :alt => 'Process', :class => "imagee"
          .middle1
            %p.text1 
              
              Raw material purchase<br>
              Material<br>
              Product<br>
              Inventory
    .row
      .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
        %h5.secondary-text 4. Facility management
        .specialcontainer1
          = image_tag 'facility.png', :alt => 'Facility', :class => "imagee"
          
          .middle1
            %p.text1
              
              Equipment maintenance<br>
              Troubleshooting<br>
              Preventive maintenance<br>
              Regular repairs
      .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1000"}
        %h5.secondary-text 5. Production management
        .specialcontainer1
          = image_tag 'production.png', :alt => 'Production', :class => "imagee"
          .middle1
            %p.text1
              
              Quality control<br>
              Production planning<br>
              Inventory planning<br>
              Supply chain management
      .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
        %h5.secondary-text 6. Organization management
        .specialcontainer1
          = image_tag 'organization.png', :alt => 'Organization', :class => "imagee"
          .middle1
            %p.text1 
              
              HR & general affairs<br>
              Sales & planning<br>
              Maintenance<br>
              Production & Logistics
              
.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'