%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
  = stylesheet_link_tag 'application', media: 'all'  
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('staff-bg-mobile.jpg')}, (small)], [#{asset_path('staff-bg-mobile.jpg')}, (medium)], [#{asset_path('staffing-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            Need a copy
      
  .row
    .columns.large-12.large-offset-1
      .path
        %a{:href => "/"}  
          .srvIco1
            %i.icon-home
        %a{:href => "/"}
          %h5 Home   
        .srvIco11
          %i.icon-right  
        %a{:href => "/services"}
          %h5 Services 
        .srvIco11
          %i.icon-right    
        %h5 Consultation  
        

  %section#consultation
    .row
      .columns.large-12
        %h2.secondary-text.text-center Consultation
        .box
          .columns.large-4
            =image_tag 'Consulting.png', :class => "img7", :style => "width:100%"  
          .columns.large-6
            %p
              %b
                New to the area or industry?
              %br
              We have connections with firms of all sizes and industries and a range of diverse talent nation wide
              to provide insight into industry standards, including compensation information
          
    .row
      .columns.large-12        
        .columns.large-4.large-offset-1
          
          %h5
            %b
              Top six issues we focus on
          
          %p
            Targeted advertising <br>
          
            Localized demographic<br>
          
            Hiring foreign nationals<br>
          
            Competitor analysis<br>
          
            Outsourcing  <br>
            
            Strategic marketing

  
                
  
  
 

.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'
  
  
/
  %section
    .row
      .columns.large-4.text-center
        %h4.secondary-text.text-center Targeted advertising 
        .srvIco2
          %i
            = image_tag 'TargetedAd.png', :class => 'img4'
      .columns.large-4.text-center
        %h4.secondary-text.text-center Localized demographic
        .srvIco2
          %i
            = image_tag 'LocalDemograph.png', :class => 'img4'
      .columns.large-4.text-center
        %h4.secondary-text.text-center Hiring foreign nationals
        .srvIco2
          %i
            = image_tag 'InternationalHiring.png', :class => 'img4'
    .row.m-top3
      .columns.large-4.text-center
        %h4.secondary-text.text-center Competitor analysis
        .srvIco2
          %i
            = image_tag 'CompetitorAnalysis.png', :class => 'img4'
      .columns.large-4.text-center
        %h4.secondary-text.text-center Outsourcing
        .srvIco2
          %i
            = image_tag 'Outsourcing.png', :class => 'img4'
      .columns.large-4.text-center
        %h4.secondary-text.text-center Strategic marketing
        .srvIco2
          %i
            = image_tag 'StrategicMarketing.png', :class => 'img4'