
%head
  %title Joynus Staffing | Jobs | Right place to looking for jobs
  %meta{:content => "Looking for a job? Become an employee in few minutes", :name => "Description"}/


%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('find-job-bg-mobile.jpg')}, (small)], [#{asset_path('find-job-bg-mobile.jpg')}, (medium)], [#{asset_path('find-job-bg.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center.animated.fadeInDown= t 'jobs.feature-header'

%section
  .row
    .columns.large-10.large-offset-1
      %h2.text-center.secondary-text.no-margin-top= t 'jobs.content-header'
      %p.no-margin= t 'jobs.content-text'

= render 'large_job_table'
= render 'small_job_table'
