- if flash[:notice]
  = render 'shared/success_notice'

.row
  .columns.large-12
    .breadcrumb
      = link_to jobs_path do
        %i.fa.fa-angle-left
        = t 'jobs.breadcrumb'
      - if current_user
        .right
          = link_to 'Delete', job_path(@job), class: 'button tiny radius alert', action: 'destroy', method: :delete, data: { confirm: "Are you sure?" }
          = link_to 'Edit', edit_job_path(@job), class: 'button tiny radius ml'

%section#job-show-header.mb--
  .row
    .columns.large-6
      .job-info
        %p.mb
          %strong= @job.company
        %p.mb= @job.title
        %p.no-margin
          %span.job-info-label= t 'jobs.department'
          %span= @job.department
        %p.no-margin
          %span.job-info-label= t 'jobs.language'
          %span= @job.language
        %p.no-margin
          %span.job-info-label= t 'jobs.salary'
          %span= @job.salary
        %p.no-margin
          %span.job-info-label= t 'jobs.location'
          %span= @job.try(:location)
        - if @job.avionte_url == nil
          .mb
          - if @job.contact_name.present?
            %p.no-margin
              %span.job-info-label= t 'jobs.contact-name'
              %span= @job.contact_name
          - if @job.email.present?
            %p.no-margin
              %span.job-info-label= t 'jobs.email'
              %span #{mail_to @job.email}

    - if @job.avionte_url != nil
      .columns.large-6
        .apply-now
          = link_to 'Apply Now', @job.avionte_url, class: 'button secondary radius no-margin'

.row
  .columns.large-12
    = markdown @job.description
