= content_for :js_head do
  :javascript
    var switchTo5x=true;

  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"

  :javascript
    stLight.options({publisher: "89b810c0-d2c7-4a57-9d66-ad33235cac5b", doNotHash: false, doNotCopy: false, hashAddressBar: false});

.row
  .columns.large-12
    .breadcrumb
      = link_to jobs_path do
        %i.fa.fa-angle-left
        = t 'jobs.breadcrumb'

        .apply-now.hide-desktop.right
          = link_to 'Apply Now', @job.job_url, class: 'button secondary tiny radius no-margin'
          .button.secondary.radius.tiny.no-margin.btn-top-share.js-top-share
            .fa.fa-share-alt
            %span Share
        .row.shareable-post.js-social-top-buttons.hidden
          .columns.large-12
            %span.st_facebook_large{:displayText => "Facebook"}
            %span.st_twitter_large{:displayText => "Tweet"}
            %span.st_googleplus_large{:displayText => "Google +"}
            %span.st_linkedin_large{:displayText => "LinkedIn"}
            %span.st_pinterest_large{:displayText => "Pinterest"}
            %span.st_email_large{:displayText => "Email"}

      - if current_user
        .right
          = link_to 'Delete', job_path(@job), class: 'button tiny radius alert m--r', action: 'destroy', method: :delete, data: { confirm: "Are you sure?" }
          = link_to 'Edit', edit_job_path(@job), class: 'button tiny radius m--r'

%section#job-show-header.mb--
  .row
    .columns.large-6
      .job-info
        %p.mb
          %strong= @job.company
        %p.mb= @job.title
        %p.no-margin
          %span.job-info-label= t 'jobs.department'
          %span= @job.department
        %p.no-margin
          %span.job-info-label= t 'jobs.language'
          %span= @job.language
        %p.no-margin
          %span.job-info-label= t 'jobs.salary'
          %span= @job.salary.is_int? ? number_to_currency(@job.salary.to_i, precision: 0) : @job.salary
        %p.no-margin
          %span.job-info-label= t 'jobs.location'
          %span= @job.try(:location).html_safe
        .mb
        - if @job.contact_name.present?
          %p.no-margin
            %span.job-info-label= t 'jobs.contact-name'
            %span= @job.contact_name
        - if @job.email.present?
          %p.no-margin
            %span.job-info-label= t 'jobs.email'
            %span #{mail_to @job.email}
        - if @job.phone.present?
          %p.no-margin
            %span.job-info-label= t 'jobs.phone'
            %span= @job.phone

    - if @job.avionte_job_id != nil
      .columns.large-6
        .apply-now.hide-mobile
          = link_to 'Apply Now', @job.job_url, class: 'button secondary radius no-margin', target: '_blank'
          .button.secondary.radius.js-toggle-social.share-now
            .fa.fa-share-alt
            %span Share
        .clear
        .row.shareable-post.js-social-buttons.hidden
          .columns.large-12
            %span.st_facebook_large{:displayText => "Facebook"}
            %span.st_twitter_large{:displayText => "Tweet"}
            %span.st_googleplus_large{:displayText => "Google +"}
            %span.st_linkedin_large{:displayText => "LinkedIn"}
            %span.st_pinterest_large{:displayText => "Pinterest"}
            %span.st_email_large{:displayText => "Email"}
            /= render_shareable :twitter => {:button_caption => 'Tweet this!'}

.row
  .columns.large-12
    = markdown @job.description

= content_for :js do
  :javascript
    jQuery(".js-toggle-social").click(function(){
        $(".js-social-buttons").slideToggle('slow');
     });
    jQuery(".js-top-share").click(function(){
        $(".js-social-top-buttons").slideToggle('slow');
     });
