- if flash[:notice]
  = render 'shared/success_notice'

.row
  .columns.large-12
    .breadcrumb
      = link_to jobs_path do
        %i.fa.fa-angle-left
        Approved Jobs
      .right
        = link_to 'New Job', employers_path, class: 'button tiny radius secondary'

= form_tag approve_jobs_path, method: :put do
  %section.no-spacing.mb--
    .row
      .columns.large-12
        %fieldset.mb--
          - if @unapproved_jobs.count == 0
            .empty-table
              %h1 Hurray! No new jobs to approve.

          - else
            .row
              .columns.large-12
                #users-header
                  %table.no-margin
                    %tbody
                      %tr
                        %td{ width: '30' }
                        %td{ width: '80' } Company
                        %td{ width: '80' } Department
                        %td{ width: '80' } Position
                        %td{ width: '80' } Location
                        %td.text-right{ width: '50' } Salary
                        %td{ width: '60' }

            .row
              .columns.large-12
                #users-table
                  %table.clickable-row
                    %tbody
                      - @unapproved_jobs.each do |unapproved_job|
                        %tr{ data: { url: "#{edit_job_path(unapproved_job)}" } }
                          %td{ width: '30' }= check_box_tag "job_ids[]", unapproved_job.id
                          %td{ width: '80' }= unapproved_job.company
                          %td{ width: '80' }= unapproved_job.department
                          %td{ width: '80' }= unapproved_job.title
                          %td{ width: '80' }= unapproved_job.location
                          %td.text-right{ width: '50' }= unapproved_job.salary
                          %td.tex-tcenter{ width: '60' }= link_to 'Edit', edit_job_path(unapproved_job)
            .row
              .columns.large-12
                = submit_tag 'Approve Selected', class: 'button submit small radius mt-- no-margin-bottom right'
