.row
  .columns.large-12
    %p.m-b=  t('job-form.company-header')

.row
  .columns.large-5
    = form.text_field :company, 'required' => '', placeholder: t('job-form.company-placeholder')
  .columns.large-5
    = form.text_field :contact_name, 'required' => '', placeholder: t('job-form.contact-name-placeholder')
  .columns.large-2
    = form.text_field :contact_title, placeholder: t('job-form.contact-title-placeholder')

.row
  .columns.large-7
    = form.email_field :email, 'required' => '', placeholder: t('job-form.contact-email-placeholder')
  .columns.large-5
    = form.text_field :phone, id: 'phone', placeholder: t('job-form.contact-phone-placeholder')

.row
  .columns.large-6
    = form.text_field :contact_city, placeholder: t('job-form.contact-city-placeholder')
  .columns.large-3
    - if params[:action] == 'edit'
      = form.select :contact_state, options_for_select(Job::STATES, @job.contact_state), include_blank: t('job-form.contact-state-placeholder')
    - else
      = form.select :contact_state, options_for_select(Job::STATES, ''), include_blank: t('job-form.contact-state-placeholder')
  .columns.large-3
    = form.text_field :zip_code, placeholder: t('job-form.contact-zip-code-placeholder')

.row
  .columns.large-12
    %p.m-b= t('job-form.position-header')

.row
  .columns.large-5
    = form.text_field :title, 'required' => '', placeholder: t('job-form.job-title-placeholder')
  .columns.large-5
    = form.text_field :department, 'required' => '', placeholder: t('job-form.department-placeholder')
  .columns.large-2
    = form.text_field :salary, 'required' => '', placeholder: t('job-form.salary-placeholder')

.row
  .columns.large-6
    = form.text_field :language, 'required' => '', placeholder: t('job-form.language-placeholder')
  .columns.large-3
    = form.text_field :city, placeholder: t('job-form.city-placeholder')
  .columns.large-3
    - if params[:action] == 'edit'
      = form.select :state, options_for_select(Job::STATES, @job.state), include_blank: t('job-form.state-placeholder')
    - else
      = form.select :state, options_for_select(Job::STATES, ''), include_blank: t('job-form.state-placeholder')

.row
  .columns.large-12
    = form.text_area :description, placeholder: t('job-form.description-placeholder'), rows: 8

- if current_user
  %p.m-b Joynus Information
  .row
    .columns.large-3
      = form.text_field :avionte_job_id, placeholder: 'Job Id'
  .row
    .columns.large-3
      .switch.round
        = form.check_box :featured, checked: false
        %label{ for: 'job_featured' }
        %span Featured
