!!!
- if flash[:notice]
  = render 'shared/success_notice'
%head
  %title Joynus Staffing | Staffing & Recruiting solution | Joynus.com
  %meta{:content => "Joynus helps people finding jobs and provides quality service to clients", :name => "Description"}/
  


  

%section.feature-section
  
  .feature-container
  
    .split.sleft
      .centered
        
        %h1.animated.fadeInDown Job Seeker
        %h3.animated.fadeInDown Right People
        %a.button.primary.radius.iprocess.icon-angle-double-right{:href => "https://app.employstream.com/jobs/joynus/search/"}  Jobs  
        
    .split.sright
      .centered
        
        %h1.animated.fadeInDown Employer
        %h3.animated.fadeInDown Right Now
        %a.button.secondary.radius.iprocess.icon-angle-double-right{:href => "/employers"} Employer
        
%section
  .wwdContent4
    
    .row
      .columns.large-12.m-top3
        %h2.text-center 
          %b  TRUSTED BY THESE COMPANIES
    .row    
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
        .srvIco4
          %i
            = image_tag 'Tesla.png', :class => 'img3'
            
          
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
        .srvIco4
          %i
            = image_tag 'Samsung.png', :class => 'img3'
            
          
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "2500"}
        .srvIco4
          %i
            = image_tag 'Hyundai.png', :class => 'img3'
            
            
    .row
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
        .srvIco4
          %i
            = image_tag 'LG.png', :class => 'img3'
            
            
           
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
        .srvIco4
          %i
            = image_tag 'KIA.png', :class => 'img3'
            
            
            
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "2500"}
        .srvIco4
          %i
            = image_tag 'Beaulieu.png', :class => 'img3'
            
    .row
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
        .srvIco4
          %i
            = image_tag 'SK.png', :class => 'img3'
            
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
        .srvIco4
          %i
            = image_tag 'Posco.png', :class => 'img3'
           
      .columns.small-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "2500"}
        .srvIco3
          %i
            = image_tag 'Lotte.png', :class => 'img3'
              
 
  .landingsection 
    
    .columns.xlarge-6{"data-aos" => "fade-in","data-aos-easing"=>"linear", "data-aos-duration" => "800", "data-aos-anchor-placement"=>"top-bottom"}
      %h3
        %b= t 'home.career-header'
      %p
        = t 'home.career-content'
    .columns.xlarge-6
      = image_tag 'LandingA.jpg' 

  .landingsection 
    
    .columns.xlarge-6{"data-aos" => "fade-in","data-aos-easing"=>"linear", "data-aos-duration" => "800", "data-aos-anchor-placement"=>"top-bottom"}
      %h3
        %b= t 'home.right-job-header'
      %p
        = t 'home.right-job-content'
    .columns.xlarge-6
      = image_tag 'LandingB.jpg'
          
  .landingsection 
    
    .columns.xlarge-6{"data-aos" => "fade-in","data-aos-easing"=>"linear", "data-aos-duration" => "800", "data-aos-anchor-placement"=>"top-bottom"}
      %h3
        %b= t 'home.best-decision-header'
      %p
        = t 'home.best-decision-content'
    .columns.xlarge-6
      = image_tag 'LandingC.png'
       
  .landingsection 
    
    .columns.xlarge-6{"data-aos" => "fade-in","data-aos-easing"=>"linear", "data-aos-duration" => "800", "data-aos-anchor-placement"=>"top-bottom"}
      %h3
        %b= t 'home.employers-header'
      %p= t 'home.employers-content'
    .columns.xlarge-6
      = image_tag 'LandingD.jpg'    
          
.row
  