!!!

%head
  %title Joynus Staffing | Staffing & Recruiting solution | Joynus.com
  %meta{:content => "Joynus helps people finding jobs and provides quality service to clients", :name => "Description"}/
    

- if flash[:notice]
  = render 'shared/success_notice'
  
  
  
  
/
  section class="feature-section no-spacing">
  <div class="feature animated fadeIn">
  <div class="feature-container">
  <img data-interchange="[/assets/home-bg-mobile.jpg, (small)], [/assets/home-bg-mobile.jpg, (medium)], [/assets/home-bg.jpg, (large)]" data-uuid="interchange-jkjprfp90" src="/assets/home-bg-mobile.jpg">
  <div class="feature-text">
  <h1 class="text-center animated fadeInDown">
  <!%= t 'home.feature-header' %>
  </h1>
  <h3 class="subheader text-center animated fadeInDown">
  <!%= t 'home.feature-tagline' %>
  </h3>
  <a class="circle animated fadeInDown" href="#career">
  <span class="icon-down-cursor"></span>
  </a>
  </div>
  </div>
  </div>
  </section>
  

/
  section class="companies custom-color-bg no-spacing animated fadeIn m-top1 m-bottom1">
  <div class="row show-for-large-up">
  <div class="columns large-12">
  <h2 class="text-center m-bottom2">
  <!%= t 'home.companies-tagline' %>
  </h3>
  </div>
  <ul class="logo-list clearfix">
  <li>
  <span class="icon-hyundai-logo"></span>
  </li>
  <li>
  <span class="icon-sk-logo"></span>
  </li>
  <li class="hide-for-small-only">
  <span class="icon-lg-logo"></span>
  </li>
  <li class="show-for-large-up">
  <span class="icon-kia-logo"></span>
  </li>
  <li class="show-for-large-up">
  <span class="icon-posco-logo"></span>
  </li>
  </ul>
  </section>

  

%section.feature-section
  /.feature.animated.fadeIn
  .feature-container
  
    .split.sleft
      .centered
        
        %h1.animated.fadeInDown Job Seeker
        %h3.animated.fadeInDown Right People
        %a.button.primary.radius.iprocess.icon-angle-double-right{:href => "https://app.employstream.com/jobs/joynus/search/"}  Jobs  
        /= link_to "  Jobs  ", jobs_path, class: ' button secondary radius iprocess icon-angle-double-right'
    .split.sright
      .centered
        
        %h1.animated.fadeInDown Employer
        %h3.animated.fadeInDown Right Now
        %a.button.secondary.radius.iprocess.icon-angle-double-right{:href => "/employers"} Employer
        /= link_to t('home.employer'), employers_path, class: 'button success radius iprocess icon-angle-double-right m-top4'



.wwdContent2.m-bottom2
  
  .columns.large-12.m-top1
    %h2.secondary-text.text-center
      = t 'home.companies-tagline'
  / Service
  .row.m-bottom4
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1000"}
        %i
          = image_tag 'Samsung.png', :class =>"img5"
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1200"}
        %i
          = image_tag 'Posco.png', :class =>"img5"
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1400"}
        %i
          = image_tag 'LG.png', :class =>"img5"
  .row    
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1000"}
        %i
          = image_tag 'Hyundai.png', :class =>"img5"
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1200"}
        %i
          = image_tag 'KIA.png', :class =>"img5"
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1400"}
        %i
          = image_tag 'Tesla.png', :class =>"img5"
  .row.m-top4{:style => "padding-bottom:5%;"}
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1000"}
        %i
          = image_tag 'SK.png', :class =>"img5"
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1200"}
        %i
          = image_tag 'Lotte.png', :class =>"img5"
    .columns.large-4.text-center
      .srvIco.div{"data-aos" => "flip-right", "data-aos-duration" => "1400"}
        %i
          = image_tag 'Beaulieu.png', :class =>"img5"
/ What we do content
%section#career.content-section.no-spacing
  .row
    .columns.xlarge-6
      .home-section-img.mb-
        = image_tag 'section-1.jpg'
      .animated-text
        %h2
          = t 'home.career-header'
        %p
          = t 'home.career-content'
%section#right-job.content-section
  .row
    .columns.xlarge-5
      .right-job-img
        = image_tag 'right-job-img.jpg', :alt => 'Right Job'
        
        
    .columns.xlarge-7.xlarge-offset-6
      .animated-text
        %h2
          = t 'home.right-job-header'
        %p
          = t 'home.right-job-content'
%section#best-decision.content-section.small.no-spacing
  .row
    .columns.xlarge-6
      .home-section-img.mb-
        = image_tag('section-3.jpg')
      .animated-text
        %h2
          = t 'home.best-decision-header'
        %p
          = t 'home.best-decision-content'
        
        /= link_to t('home.best-decision-button'), jobs_path, class: 'button secondary radius small'
.primary-color-bg
  %section.content-section.x-small#employers.no-spacing
    .row
      .columns.xlarge-6.xlarge-offset-6
        .home-section-img.mb-
          
          = image_tag('section-4.jpg')
        .animated-text
          %h2= t 'home.employers-header'
          %p= t 'home.employers-content'
        
          /= link_to t('home.employers-button'), employers_path, class: 'button secondary radius small'
