- if flash[:notice]
  = render 'shared/success_notice'

%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('home-bg-mobile.jpg')}, (small)], [#{asset_path('home-bg-mobile.jpg')}, (medium)], [#{asset_path('home-bg.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center.animated.fadeInDown= t 'home.feature-header'
        %h3.subheader.text-center.animated.fadeInDown= t 'home.feature-tagline'
        %a.circle.animated.fadeInDown{href: '#career'}
          %span.icon-down-cursor

%section.companies.primary-color-bg.no-spacing.animated.fadeIn
  .row.show-for-large-up
    .columns.large-12
      %h3.subheader.text-center= t 'home.companies-tagline'

  %ul.logo-list.clearfix
    %li
      %span.icon-hyundai-logo
    %li
      %span.icon-sk-logo
    %li.hide-for-small-only
      %span.icon-lg-logo
    %li.show-for-large-up
      %span.icon-kia-logo
    %li.show-for-large-up
      %span.icon-posco-logo

%section.content-section#career.no-spacing
  .row
    .columns.large-6
      .home-section-img.mb-
        = image_tag('section-1.jpg')
      .animated-text
        %h2= t 'home.career-header'
        %p= t 'home.career-content'

%section.content-section#right-job
  .row
    .columns.large-6
      .right-job-img
        = image_tag('right-job-img.jpg')
    .columns.large-6
      .animated-text
        %h2= t 'home.right-job-header'
        %p= t 'home.right-job-content'

%section.content-section.small#best-decision.no-spacing
  .row
    .columns.large-6
      .home-section-img.mb-
        = image_tag('section-3.jpg')
      .animated-text
        %h2= t 'home.best-decision-header'
        %p= t 'home.best-decision-content'
        = link_to t('home.best-decision-button'), jobs_path, class: 'button secondary radius small'

.primary-color-bg
  %section.content-section.x-small#employers.no-spacing
    .row
      .columns.large-6.large-offset-6
        .home-section-img.mb-
          = image_tag('section-4.jpg')
        .animated-text
          %h2= t 'home.employers-header'
          %p= t 'home.employers-content'
          = link_to t('home.employers-button'), employers_path, class: 'button secondary radius small'
