!!!
- if flash[:notice]
  = render 'shared/success_notice'
%head
  %title Joynus Staffing | Staffing & Recruiting solution 
  %meta{:content => "Joynus helps people finding jobs and provides quality service to clients", :name => "Description"}/
  


  

%section.feature-section
  
  .feature-container
    
    .split.sleft
      .centered
        
        %h2.animated.fadeInDown Right People
        %h3.animated.fadeInDown 
        %a.button.primary.radius.iprocess.icon-angle-double-right{:href => "https://app.employstream.com/jobs/joynus/search/"}
          Look For Work
        
    .split.sright
      .centered
        
        %h2.animated.fadeInDown Right Now
        
        %a.button.secondary.radius.iprocess.icon-angle-double-right{:href => "/services"}
          Look For Talent
        
%section
  .wwdContent4
    .row
      .columns.small-12.text-center.m-top3
        %h3 
          %b
            TRUSTED BY THESE COMPANIES
    
    .row    
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'Tesla.png', :class => 'img3', :alt => "Tesla"
            
          
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'Samsung.png', :class => 'img3', :alt => "Samsung"
            
          
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'Hyundai.png', :class => 'img3', :alt => "Hyundai"
            
            
    .row
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'LG.png', :class => 'img3', :alt => "LG"
            
            
           
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'KIA.png', :class => 'img3', :alt => "KIA"
            
            
            
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'Beaulieu.png', :class => 'img3', :alt => "Beaulieu"
            
    .row
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'SK.png', :class => 'img3', :alt => "SK"
            
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'Posco.png', :class => 'img3', :alt => "Posco"
           
      .columns.small-4.text-center.div
        .srvIco4
          %i
            = image_tag 'Lotte.png', :class => 'img3', :alt => "Lotte"
              
