!!!
%html
  %head
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport"}
  %body
    
    %p= "From: #{@first_name} #{@last_name}"
    %p= "Company: #{@company}"
    
    %p= simple_format @message
    %p= "#{@email} or by #{@phone}"
