%head
  %title Joynus Staffing | Employers | Understading your business
  %meta{:content => "Hiring the right talent equals to the growth of a company", :name => "Description"}/
  


%section.feature-section.no-spacing.m-top-n

  = video_tag "Videos.mp4", :width => "100%", :height =>"100%",   :autoplay => true, :loop => true, class: "video" "myVideo"
  
  .content_on_BG.text-center.animated.fadeInDown
    %h1 We deliver more than you expected
      
      





   
%section.m-top3
  .row
    %h2.secondary-text.text-center Why Joynus?
    .box  
      .columns.large-6.div{"data-aos" => "fade-down-right", "data-aos-duration" => "2000"}
        = image_tag 'Question.jpg', :class => "imggg"
      .columns.large-7.div{"data-aos" => "fade-up-right", "data-aos-duration" => "2000"}

        
        %p
          That’s easy, because we have your best interest at heart. Unlike some of the frustrations you may have experienced with your previous staffing companies you have worked with,
          we prevent this by understanding the dynamics of your business with a simple concept that staffing is progressive and ongoing.
          We continuously provide you with the workforce needed for your business to operate successfully with minimal defect.
              

        
       



   
  .wwdContent5
    
    .row
      .m-top3.columns.large-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
        %a{:href => "/staff#process"}
          .srvIco3
            %i
  
              = image_tag 'FillTalent.png', :class => 'img3'
          .srvDet
            %h3 Fill talent
      .m-top3.columns.large-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
        %a{:href => "/staff#retention"}
          .srvIco3
            %i
              = image_tag 'Award.png', :class => 'img3'
          .srvDet
            %h3 Recognition & award  
      .m-top3.columns.large-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "2500"}
        %a{:href => "/staff#compliance"}
          .srvIco3
            %i
              = image_tag 'Compliance.png', :class => 'img3'
          .srvDet
            %h3 Compliance  
    .row.m-top3
      .columns.large-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
        %a{:href => "/services#consultation"}
          .srvIco3
            %i
              = image_tag 'MarketAnalysis.png', :class => 'img3'
          .srvDet
            %h3 Market analysis  
      .columns.large-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
        %a{:href => "/services#bpo"}
          .srvIco3
            %i
              = image_tag 'Outsourcing.png', :class => 'img3'
          .srvDet
            %h3 Outsourcing  
      .columns.large-4.text-center.div{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "2500"}
        %a{:href => "#save"}    
          .srvIco3
            %i
              = image_tag 'TaxSaving.png', :class => 'img3'
          .srvDet
            %h3 Tax saving
  / What we do content  


  .row
    .box  
      .columns.large-6.div{"data-aos" => "fade-down-right","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}
        = image_tag 'convenience.jpg', :class => "imgg"
      .columns.large-6.text-center.div{"data-aos" => "fade-up-right","data-aos-easing"=>"linear", "data-aos-duration" => "800", "data-aos-anchor-placement"=>"top-bottom"}
        %h2.secondary-text Convenience
        /%p.text-center Stay in comfortable. Joynus will take care of all your needs
        
        
       
        %p
          %b Hiring process time consumption
        %p
          %b Payroll  
        %p
          %b Unemployment dealing with DOL
        %p
          %b Law suits  
        
      
       
        
        
  .row#save
    .box  
      .columns.large-7.large-push-6.div{"data-aos" => "fade-up","data-aos-easing"=>"linear", "data-aos-duration" => "1200", "data-aos-anchor-placement"=>"top-bottom"}
        = image_tag 'save.jpg', :class => "imgg" 
      
      .columns.large-6.large-pull-7.div{"data-aos" => "fade-down","data-aos-easing"=>"linear", "data-aos-duration" => "1200", "data-aos-anchor-placement"=>"top-bottom"}
        %h2.secondary-text.text-center#retention Save money
        /%p.text-center Work with us and Save money
        .columns.large-6.text-center
          
          %p
            %b Worker's comp<br>
          %p
            %b Loss prevention <br>
          %p
            %b Loss control services<br>
             
          
        .columns.large-6.text-center    
          %p
            %b Employee promotion
          %p
            %b Paid time off  
          %p
            %b WOTC
         
  .row
    .box  
      .columns.large-6.div{"data-aos" => "fade-up","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}
        = image_tag 'responsive.jpg', :class => "imgg" 
        
      .columns.large-6.text-center.div{"data-aos" => "fade-down","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"} 
        %h2.secondary-text Responsive
        %p  Clients don't have to call our main number, you will have a direct access to account manager
        
        %p
          %b Site Coordinator
        %p
          %b 
            Unload your work<br>
            
        


  
  
  .row
    .box#selectivescreening
      .columns.large-7.large-push-6.div{"data-aos" => "fade-up-right","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}
        =image_tag 'selectivescreening.jpg', :class => "imggg"
      .columns.large-6.large-pull-6.div{"data-aos" => "fade-down-right","data-aos-easing"=>"ease-in-sine", "data-aos-duration" => "800"}  
        .w3-container
          .row.text-center
            %h2.secondary-text Selective screening
            
            %p
              %b Sourcing
              
            %p
              %b Identification
              
            %p
              %b Strategy
            
            %p
              %b
                %a{:onclick => "document.getElementById('id01').style.display='block'"} Learn more
      #id01.w3-modal
        .w3-modal-content.w3-card-4.w3-animate-zoom
          %header.w3-container.w3-blue
            %span.w3-button.w3-blue.w3-xlarge.w3-display-topright{:onclick => "document.getElementById('id01').style.display='none'"} ×
            %h2.w3-text-white Selective screening
          .w3-bar.w3-border-bottom
            %button.tablink.w3-bar-item.w3-button{:onclick => "openCity(event, 'Sourcing')"} Sourcing
            %button.tablink.w3-bar-item.w3-button{:onclick => "openCity(event, 'Identification')"} Identification
            %button.tablink.w3-bar-item.w3-button{:onclick => "openCity(event, 'Strategy')"} Strategy
            
          #Sourcing.w3-container.city
            %h2.primary-text Sourcing
            %p 
              World Wide Web has unlimited potential, yet it is ever so large and constantly growing. Not only through our own website, 
              we keep up to date on numerous places on the web for sourcing candidates and constantly update and look for better sourcing sites
            
          #Identification.w3-container.city
            %h2.primary-text Identification
            %p We have database of industry specific top candidates. It is more than search by keywords. With our expertise, we measure candidates characters, personality and work ethics
           
          #Strategy.w3-container.city
            %h2.primary-text Strategy
            %p
              %b.secondary-text A. Investigation<br>
              Based on the industry, pay scale, location, we implement in depth screening process so that the candidate we present aligns with your requirements
            %p
              %b.secondary-text B. Headhunting<br>
              Most often top candidates are already working. This is where the challenge begins. Numerous phone calls and exchanges of email; sifting through resumes and key words, and comparing
              our scores at a high volume. It's a matter of becoming the best liaison and put the hiring company and candidate to talk to each other while we do all the difficult talk in the middle1
            %p
              %b.secondary-text C. Assessment & Evaluation<br>
              We provide our feedback to clients about prescreen, qualification, education, certification, personality, depth of skill level, speciality; developing a comprehensive comparison matrix and analysis
            %p
              %b.secondary-text D. Acceptance<br>
              Our work doesn't end at arranging the interview. We ensure and help offer letter is appropriate and candidate feels gratitude to be hired, ensure all process and obstacles
              including relocation, immigration status, compensation, are handled until the first day of employment
            %p
              %b.secondary-text E. Employment<br>
              After 3 months, we follow up on candidate's performance with client. We feel responsible for our actions. We feel that it is our civic duty to ensure client satisfaction as hiring a right individual can shape a future of a company
              
            %br/
          .w3-container.w3-light-grey.w3-padding
            %button.w3-button.w3-right.w3-white.w3-border{:onclick => "document.getElementById('id01').style.display='none'"} Close
    :javascript
      document.getElementsByClassName("tablink")[0].click();
      
      function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].classList.remove("w3-light-grey");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.classList.add("w3-light-grey");
      }
      var modal = document.getElementById('id01');
  
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
          
  .row#industry.content-section
    .columns.xlarge-12
      %h2.text-center.secondary-text
        Services
    .columns.xlarge-12.text-center
      %p
        Our clients stay with us and come back to us for the quality of the services offered at Joynus<br>
        %b
          %a{:alt => "services", :href => "/services"} Learn more
          
  
  
  
            
.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'  
    
    
    
    
    






          
          
          
          

/  .row#industry.content-section
/    .columns.xlarge-12
/      %h2.text-center.secondary-text
/        Services
/    .columns.xlarge-12
/      %p
/        Our clients stay with us and come back to us for the quality of the services offered at Joynus. 
/        We have our own guidelines on what Quality means.
/        We strive to satisfy them by employing qualified associates to ensure our customers' needs are met
/        %b
/          %a{:alt => "services", :href => "/services"} Learn more
/  .row
/    .box.m-top3  
/      .columns.large-6.text-center
/        
/        %h2.secondary-text Staffing
/        %a{:href => "/staff"}
/          = image_tag 'staffing.png', :alt => 'Staffing', :class => "imggg"
/         
/        %p
/          We provide a complete range of job placements <br>
/          %b.text-center
/            %a{:href => "/staff"} Learn More
/              
/      .columns.large-6.text-center    
/        %h2.secondary-text Direct hire
/        %a{:href => "/recruit"}
/          = image_tag 'recruiting.png', :alt => 'Recruiting', :class => "imggg"
/        
/        %p
/          We present you with potential candidates<br>
/          %b.text-center
/            %a{:href => "/recruit"} Learn More
           
 