%head
  %title Joynus Staffing | Employers | Understading your business
  %meta{:content => "Hiring the right talent equals to the growth of a company", :name => "Description"}/
%body
  - if flash[:notice]
    = render 'shared/success_notice'
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('employer-bg-mobile.jpg')}, (small)], [#{asset_path('employer-bg-mobile.jpg')}, (medium)], [#{asset_path('employer-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            We always deliver more than expected
          %h3.subheader.text-center.animated.fadeInDown
            %a.fadeInDown.white-text{:href => "/contact"}
              = t 'employers.feature-subheader'
          %a.circle.animated.fadeInDowns{:href => "/contact"}
            %i.icon-phone
    /
      What we do content
    %h2.text-center.secondary-text.m-top3
      Why Joynus
    %p.row
      That’s easy, because we have your best interest at heart.
      Unlike some of the frustrations you may have experienced with your previous staffing companies you have worked with,
      we prevent this by understanding the dynamics of your business with a simple concept that staffing is progressive and ongoing.
      We continuously provide you with the workforce needed for your business to operate successfully with minimal defect.
    %section
      %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "800", :src => "https://www.youtube.com/embed/okd4ZoTHnak?rel=0", :width => "100%"}
      
.wwdContent5
  
  .row.m-bottom4
    .columns.large-4.text-center
      %a{:href => "/recruit#process"}
        .srvIco3
          
          %i.icon-magic
        .srvDet
          %h3 Fill talent
    .columns.large-4.text-center
      %a{:href => "/staff#compliance"}
        .srvIco3
          %i.icon-award
        .srvDet
          %h3 Recognition & award  
    .columns.large-4.text-center
      %a{:href => "/staff#compliance"}
        .srvIco3
          %i.icon-search
        .srvDet
          %h3 Compliance  
  .row
    .columns.large-4.text-center
      %a{:href => "/services#consultation"}
        .srvIco3
          %i.icon-chart-bar
        .srvDet
          %h3 Market analysis  
    .columns.large-4.text-center
      %a{:href => "/services#bpo"}
        .srvIco3
          %i.icon-globe
        .srvDet
          %h3 Outsourcing  
    .columns.large-4.text-center
      .srvIco3
        %i.icon-money
      .srvDet
        %h3 Tax saving
/ What we do content  
%section#why.content-section.no-spacing
  .row
    .columns.xlarge-6
      .employer-section-img.mb-
        = image_tag('industry2.png')
      %h2.text-center.secondary-text
        Industry
      .columns.xlarge-6
        %ul{:style => "list-style-type:none;"}
          %li Automative
          %li Manufacturing
          %li Healthcare
      .columns.xlarge-6
        %ul{:style => "list-style-type:none;"}
          %li Accounting &amp; finance
          %li Information technology
          %li Office &amp; administrative

%section.whywedowhatwedo
  %h2.secondary-text.text-center.m-top3 How it works
  %p.text-center 
    Outsourcing business area selection 
    %a{:href => "/services#bpo"} Learn more
  .row.m-top3
    .columns.large-4.text-center
      %h4.secondary-text 1. Personnel management
      .specialcontainer1
        = image_tag 'personnel.png', :alt => 'Personnel', :class => "imagee", :style => "width:100%"
          
        .middle1
          %p.text1
            
            Human resource <br>
            Payroll<br>
            DOL related<br>
            Benefit
    .columns.large-4.text-center
      %h4.secondary-text 2. Business management
      .specialcontainer1
        = image_tag 'business.png', :alt => 'Business', :class => "imagee", :style => "width:100%"
        .middle1
          %p.text1
            
            Placement <br>
            Assignment<br>
            Work schedule<br>
            Job training
              
    .columns.large-4.text-center
      %h4.secondary-text 3. Process management
      .specialcontainer1
        = image_tag 'process.png', :alt => 'Process', :class => "imagee", :style => "width:100%"
        .middle1
          %p.text1 
            
            Raw material purchase<br>
            Material<br>
            Product<br>
            Inventory
  .row.m-top3
    .columns.large-4.text-center
      %h4.secondary-text 4. Facility management
      .specialcontainer1
        = image_tag 'facility.png', :alt => 'Facility', :class => "imagee", :style => "width:100%"
        
        .middle1
          %p.text1
            
            Equipment maintenance<br>
            Troubleshooting<br>
            Preventive maintenance<br>
            Regular repairs
    .columns.large-4.text-center
      %h4.secondary-text 5. Production management
      .specialcontainer1
        = image_tag 'production.png', :alt => 'Production', :class => "imagee", :style => "width:100%"
        .middle1
          %p.text1
            
            Quality control<br>
            Production planning<br>
            Inventory planning<br>
            Supply chain management
    .columns.large-4.text-center
      %h4.secondary-text 6. Organization management
      .specialcontainer1
        = image_tag 'organization.png', :alt => 'Organization', :class => "imagee", :style => "width:100%"
        .middle1
          %p.text1 
            
            HR & general affairs<br>
            Sales & planning<br>
            Maintenance<br>
            Production & Logistics
        
          
          
          
          
%section#industry.content-section
  .row
    .columns.xlarge-6
      .industry-img.m-right3.m-top2
        = image_tag('service.png')
    .columns.xlarge-6
      %h2.text-center.secondary-text
        Services
      %p
        Our clients stay with us and come back to us for the quality of the services offered at Joynus. 
        We have our own guidelines on what Quality means.
        We strive to satisfy them by employing qualified associates to ensure our customers' needs are met
        %a{:alt => "services", :href => "/services"} Learn more
.button-container.text-center
  %h3{:style => "margin:30px"}
    = t 'about.content-callout'
  = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'