- if flash[:notice]
  = render 'shared/success_notice'

%section.feature-section.no-spacing
  .feature.animated.fadeIn
    %article.feature-static
      %img{ data: { interchange:"[#{asset_path('employers-bg-mobile.jpg')}, (small)], [#{asset_path('employers-bg.jpg')}, (medium)], [#{asset_path('employers-bg.jpg')}, (large)]" } }
    %article.feature-absolute
      %img{ data: { interchange:"[#{asset_path('employers-bg-mobile.jpg')}, (small)], [#{asset_path('employers-bg.jpg')}, (medium)], [#{asset_path('employers-bg.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center= t 'employers.feature-header'

%section
  .row
    .columns.large-10.large-offset-1
      %h2.text-center.secondary-text.no-margin-top= t 'employers.content-header'
      %p.no-margin= t 'employers.content-text'

.row
  .columns.large-10.large-offset-1
    %fieldset
      = form_for Job.new, :url => jobs_path, html: { method: :post, 'data-abide' => '' } do |form|
        = render 'shared/job_form', form: form
        = form.submit t('job-form.button'), class: 'button small no-margin right submit radius', 'disabled' => ''
