- if flash[:notice]
  = render 'shared/success_notice'
  
%section.feature-section.no-spacing
  .feature
    %article.feature-static
      = image_tag('employers-bg.jpg')
    %article.feature-absolute
      = image_tag('employers-bg.jpg')
      .feature-text
        %h1.text-center Submit a new job

%section
  .row
    .columns.large-10.large-offset-1
      %h2.text-center.secondary-text.no-margin-top We do all the leg work
      %p.no-margin List current openings with us. We will keep your company listed and find the right person for your business needs. Let us know what you’re looking for in a candidate with a brief job description, and we will be in contact with you as soon as possible.

.row
  .columns.large-10.large-offset-1
    %fieldset.mb--
      = form_for Job.new, :url => jobs_path, html: { method: :post, 'data-abide' => '' } do |form|
        = render form
        = form.submit "Submit", class: 'button small no-margin right submit radius'
