%section.feature-section.mb--
  .feature
    %article.feature-static
      = image_tag('blog-bg.jpg')
    %article.feature-absolute
      = image_tag('blog-bg.jpg')
      .feature-text
        %h1.text-center News and resources

.blog-post
  .row
    .columns.large-8.large-offset-2
      %h3 9 Futuristic Jobs We Could See By 2030
      %p October 28, 2014

      %p With technology moving faster than ever, it's hard to imagine what careers will look like 20 years from now. But The Canadian Scholarship Trust Plan (CST), a not-for-profit foundation dedicated to helping Canadian families save for their children's post-secondary education, wanted to find out.


      %p With help from foresight strategists, CST took a look into the future to find the jobs that may be commonplace by the year 2030.

      = link_to 'View More'

      %hr

.blog-post
  .row
    .columns.large-8.large-offset-2
      %h3 9 Futuristic Jobs We Could See By 2030
      %p October 28, 2014

      %p With technology moving faster than ever, it's hard to imagine what careers will look like 20 years from now. But The Canadian Scholarship Trust Plan (CST), a not-for-profit foundation dedicated to helping Canadian families save for their children's post-secondary education, wanted to find out.


      %p With help from foresight strategists, CST took a look into the future to find the jobs that may be commonplace by the year 2030.

      = link_to 'View More'

      %hr

.blog-post
  .row
    .columns.large-8.large-offset-2
      %h3 9 Futuristic Jobs We Could See By 2030
      %p October 28, 2014

      %p With technology moving faster than ever, it's hard to imagine what careers will look like 20 years from now. But The Canadian Scholarship Trust Plan (CST), a not-for-profit foundation dedicated to helping Canadian families save for their children's post-secondary education, wanted to find out.


      %p With help from foresight strategists, CST took a look into the future to find the jobs that may be commonplace by the year 2030.

      = link_to 'View More'

      %hr
