%section.feature-section
  .feature
    %article.feature-static
      = image_tag('blog-bg.jpg')
    %article.feature-absolute
      = image_tag('blog-bg.jpg')
      .feature-text
        %h1.text-center News and resources

- @posts.each do |post|
  .row
    .columns.large-8.large-offset-2
      .blog-posts
        = link_to post_url(post) do
          %h3.secondary-text= post.title
        %p= l post.created_at.to_date, format: :long

        %p.post-content= truncate(post.raw_post, length: 1000, separator: ' ', escape: false)

        = link_to 'View More', post_url(post), class: 'secondary-text'
