/ Begin Constant Contact Active Forms
  :javascript
    var _ctct_m = "63c3713bf4979403a6f16222675a0d5f";
  %script#signupScript{:async => "", :defer => "defer", :src => "//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js"}
  / End Constant Contact Active Forms
  

%head
  %title Joynus Staffing| News | Check out our news
      
  
- if flash[:notice]
  = render 'shared/success_notice'

%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('News_M.jpg')}, (small)], [#{asset_path('News_M.jpg')}, (medium)], [#{asset_path('News.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center.animated.fadeInDown{:style => "color:#333333"}
          %b= t 'blog.feature-header'
.row
  .columns.large-12.large-offset-1
    .path
      %a{:href => "/"}  
        .srvIco1
          %i.icon-home
      %a{:href => "/"}
        %h5 Home    
      .srvIco11
        %i.icon-right  
      %h5 News
    
- @posts.each do |post|
  .row
    .columns.large-8.large-offset-2
      .blog-posts
        = link_to post_url(post) do
          %h3.secondary-text= post.title
        %p= l post.created_at.to_date, format: :long

        %p.post-content= truncate(post.raw_post, length: 1000, separator: ' ', escape: false)

        = link_to 'View More', post_url(post), class: 'secondary-text'

= paginate @posts
