- if flash[:notice]
  = render 'shared/success_notice'
%head
  %title Joynus Staffing | News |
  %meta{:content => "More information is always better than less. When people know the reason things are happening, they can adjust and react accordingly", :name => "Description"}/
%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('News_M.jpg')}, (small)], [#{asset_path('News_M.jpg')}, (medium)], [#{asset_path('News.jpg')}, (large)]" } }

      .feature-text
        %h1.text-center.animated.fadeInDown{:style => "color:#333333"}
          %b= t 'blog.feature-header'
        %a.circle.animated.fadeInDown{href: '#newstpath'}
          %span.icon-sort-down
  .row#newstpath
    .columns.small-12
      .path
        %a{:href => "/"}
          .srvIco1
            %i.icon-home

        %a{:href => "/"}
          %h5 Home

        .srvIco11
          %i.icon-right

        %h5 News

- @posts.each do |post|
  .blog-posts
    .row
      .columns.small-12
        .row
          %article{ id: dom_id(post), class: 'post entry-item clearfix' }
            .columns.small-12.medium-2
              .entry-thumbnail
                = link_to post_path(post) do
                  = image_tag post.preview_image.try(:data).try(:thumb, Post.preview_image_dimensions).try(:url), alt: post.preview_image&.data&.name

            .columns.small-12.medium-10
              .entry-body

                %h3.entry-heading
                  %b
                    = link_to post.title, post_url(post)

                .entry-meta
                  %strong
                    = l post.created_at.to_date, format: :long

                  - if post.author.present?
                    %span.text-muted.text-thin
                      by

                    = link_to post.author_full_name&.titleize, ''


                .entry-content
                  %p.no-margin-bottom= post.summary
                  = link_to 'Read More', post_path(post)



= paginate @posts

