= content_for :title, "Joynus Staffing| News | Check out our news"

- if current_user.admin?
  .row
    .columns.large-12
      .breadcrumb
        = link_to posts_path do
          %i.fa.fa-angle-left
          Blog

.row
  .columns.large-12
    %fieldset.mb--
      = form_for @post do |form|
        = render form
        = form.submit "Submit", class: 'button small no-margin right submit radius'
