= content_for :js_head do
  :javascript
    var switchTo5x=true;
    // var _ctct_m = "63c3713bf4979403a6f16222675a0d5f";

  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"

  :javascript
    stLight.options({publisher: "89b810c0-d2c7-4a57-9d66-ad33235cac5b", doNotHash: false, doNotCopy: false, hashAddressBar: false});

  -# / Begin Constant Contact Active Forms
  -# :javascript
  -#

  -# %script#signupScript{:async => "", :defer => "defer", :src => "//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js"}
  / End Constant Contact Active Forms

= content_for :title, "Joynus Staffing| News | Check out our news"

.row
  .columns.large-10
    .breadcrumb
      = link_to posts_path do
        %i.fa.fa-angle-left
        News

      - if current_user
        .right
          = link_to 'Delete Post', post_path(@post), class: 'button tiny radius alert', action: 'destroy', method: :delete, data: { confirm: "Are you sure?" }
          = link_to 'Edit Post', edit_post_path(@post), class: 'button tiny radius ml'

.row
  .columns.large-10
    %article{ id: dom_id(@post), class: 'post entry-item clearfix' }
      .columns.small-12
        .entry-thumbnail
          = link_to post_path(@post) do
            = image_tag @post.preview_image.try(:data).try(:url), alt: @post.preview_image&.data&.name

        .entry-body

          %h2.entry-heading
            = link_to @post.title, post_url(@post)

          .entry-meta
            %strong
              = l @post.created_at.to_date, format: :long

            %span.text-muted.text-thin
              by

            = link_to @post.author&.titleize, ''


          .entry-content
            %p.no-margin-bottom= @post.raw_post


      .row.shareable.hide-mobile
        .columns.large-12
          .button.secondary.radius.js-toggle-social.share-now.btn-share
            .fa.fa-share-alt
            %span Share

        .columns.large-12.js-social-icons.hidden
          %span.st_facebook_hcount{:displayText => "Facebook"}
          %span.st_twitter_hcount{:displayText => "Tweet"}
          %span.st_googleplus_hcount{:displayText => "Google +"}
          %span.st_linkedin_hcount{:displayText => "LinkedIn"}
          %span.st_pinterest_hcount{:displayText => "Pinterest"}
          %span.st_email_hcount{:displayText => "Email"}

      .row.shareable.hide-desktop
        .row.text-center
          .button.secondary.radius.js-toggle-mobile-social.share-now.btn-share
            .fa.fa-share-alt
            %span Share

        .columns.large-12.text-center.js-mobile-social-icons.hidden
          .columns.large-2.st_facebook_hcount{:displayText => "Facebook"}
          .columns.large-2.st_twitter_hcount{:displayText => "Tweet"}
          .columns.large-2.st_googleplus_hcount{:displayText => "Google +"}
          .columns.large-2.st_linkedin_hcount{:displayText => "LinkedIn"}
          .columns.large-2.st_pinterest_hcount{:displayText => "Pinterest"}
          .columns.large-2.st_email_hcount{:displayText => "Email"}
