= content_for :js_head do
  :javascript
    var switchTo5x=true;
    // var _ctct_m = "63c3713bf4979403a6f16222675a0d5f";

  = javascript_include_tag "http://w.sharethis.com/button/buttons.js"

  :javascript
    stLight.options({publisher: "89b810c0-d2c7-4a57-9d66-ad33235cac5b", doNotHash: false, doNotCopy: false, hashAddressBar: false});

  -# / Begin Constant Contact Active Forms
  -# :javascript
  -#

  -# %script#signupScript{:async => "", :defer => "defer", :src => "//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js"}
  / End Constant Contact Active Forms

- if flash[:notice]
  = render 'shared/success_notice'
%head
  %title Joynus Staffing | News |
  %meta{:content => "More information is always better than less. When people know the reason things are happening, they can adjust and react accordingly", :name => "Description"}/
.row
  .columns.large-10
    .breadcrumb
      = link_to posts_path do
        %i.fa.fa-angle-left
        News

      - if current_user
        .right
          = link_to 'Delete Post', post_path(@post), class: 'button tiny radius alert', action: 'destroy', method: :delete, data: { confirm: "Are you sure?" }
          = link_to 'Edit Post', edit_post_path(@post), class: 'button tiny radius ml'

.row
  .columns.large-10
    %article{ id: dom_id(@post), class: 'post entry-item clearfix' }
      .columns.small-12
        .entry-thumbnail
          = link_to post_path(@post) do
            = image_tag @post.preview_image.try(:data).try(:url), alt: @post.preview_image&.data&.name

        .entry-body

          %h2.entry-heading
            = link_to @post.title, post_url(@post)

          .entry-meta
            %strong
              = l @post.created_at.to_date, format: :long

            - if @post.author.present?
              %span.text-muted.text-thin
                by

              = link_to @post.author_full_name&.titleize, ''


          .entry-content
            %p.no-margin-bottom= @post.raw_post


