%head
  %title About Joynus Staffing

%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('about-bg-mobile.jpg')}, (small)], [#{asset_path('about-bg.jpg')}, (medium)], [#{asset_path('about-bg.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center= t 'about.feature-header'
%section.whywedowhatwedo
  
  .row.m-bottom3
    .box  
      .columns.large-5
        = image_tag 'growth1.png', :class => "img0 box"
    
      .columns.large-5
        %h2.text-center.secondary-text Why we do what we do
        %p
          Our experience tells us that growth is crucial to the survival of a business.
          We believe that hiring the right people is the first ingredient for growth. We are the catalyst in helping companies
          grow by hiring the right people and helping people find the right company.
      
  .row
    .box
      .columns.large-5
        = image_tag 'find-people.png', :class => "imgg box"
      .columns.large-5
        %h2.text-center.secondary-text We believe
        %p
          Job satisfaction leads to happiness and growth. We spend the majority of our days at work. Therefore, we feel responsible in helping people find jobs that they will enjoy.
          
          Recruiting people for a job and career is an art, but there is a science behind the art of recruiting. We utilize an array of tests and analyses to find successful matches for our clients.
  .row
    .columns.large-12
      %h2.text-center.secondary-text.m-top1
        Core value
      %p.text-center.m-bottom3
        Everyone at Joynus embodies the following six principles, whether its handling internal projects, how we treat each other, or how we represent ourselves to the public. Our core values are just one of the things that makes Joynus unique.
  .wwdContent
    .row
      .columns.large-2
        = image_tag 'goal.png', :class => "img2  m-top2"
      .columns.large-4
        %h3.text-center.secondary-text
          Goal crushing attitude
        .columns.large-12    
          %p Actions and thoughts should lead to making the choice to do your best. We have passion and pride for being dependable and completing goals.
      .columns.large-2.text-center
        = image_tag 'competence.png', :class => "img2  m-top2"
      .columns.large-4
        %h3.secondary-text.text-center
          Competence
        .columns.large-12  
          %p We strive to be prepared and on time. The notion of competence that we expect is to think ahead and be smart about even the smallest actions.
    .row.m-top2
      .columns.large-2
        = image_tag 'communication.png', :class => "img2  m-top2"
      .columns.large-4
        %h3.text-center.secondary-text
          Communication
        .columns.large-12    
          %p Communication is not just about talking and writing. Communication is really about delivering conceptual ideas to people effectively and clearly.
      .columns.large-2
        = image_tag 'commitment.png', :class => "img2 m-top2"
      .columns.large-4
        %h3.text-center.secondary-text
          Commitment
        .columns.large-12      
          %p Commitment is what separates average organizations from great ones. Yoda once said, "Do or do not. There is no try." We value commitment and go beyond trying.
    .row.m-top2
      .columns.large-2
        = image_tag 'no-excuse.png', :class => "img2 m-top2 "
      .columns.large-4
        %h3.text-center.secondary-text
          No excuse attitude
        %p Things don't always go as planned, but we take control of situations by looking for creative ways to fix problems and doing things differently for better results.
      .columns.large-2.text-center
        = image_tag 'openness2.png', :class => "img2 m-top2"
      .columns.large-4
        %h3.text-center.secondary-text
          Openness & honesty
        .columns.large-12    
          %p Openness and honesty helps us find solutions that lead to improvement. Joynus develops open and honest relationships with clients and employees to provide unbeatable service.
  
  
  .button-container.text-center
    %h3{:style => "margin:30px"}

      = t 'about.content-callout'
    = link_to t('header.contact-us'), contact_index_path, class: 'button secondary radius small'
    
