%head
  %title Joynus Staffing | About Joynus | Why we do What we do
  %meta{:content => "We believe doing what you like lead to happiness and growth", :name => "Description"}/
  
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('AboutUS_M.jpg')}, (small)], [#{asset_path('AboutUs.jpg')}, (medium)], [#{asset_path('AboutUs.jpg')}, (large)]" } }
        /%img{ data: { interchange:"[#{asset_path('about-bg-mobile.jpg')}, (small)], [#{asset_path('about-bg.jpg')}, (medium)], [#{asset_path('about-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            %b
              WHY WE DO <br>
              WHAT WE DO
          %a.circle.animated.fadeInDown{href: '#aboutpath'}
            %span.icon-sort-down
  
    .row#aboutpath
      .columns.large-12
        .path
          %a{:href => "/"}  
            .srvIco1
              %i.icon-home
          %a{:href => "/"}
            %h5 Home    
          .srvIco11
            %i.icon-right  
          %h5 About  
        

  %section
    .row
      .columns.xlarge-12
        %p
          Joynus provides Contingent Staffing, Direct Search, Recruitment Process Outsourcing, Vendor Management, 
          automotive Semi Knock Down, in Light Industrial, IT, Healthcare and Accounting industries.
        %p
          Our experience tells us that growth is crucial to the survival of a business.
          We believe that hiring the right people is the first ingredient for growth. We are the catalyst in helping companies
          grow by hiring the right people and helping people find the right company.
  %section      
    .row
      .columns.xlarge-12
        %h2
          %b
            WE BELIEVE
        %p
          Job satisfaction leads to happiness and growth. Most of people spend the majority of daily lives at work.
          Therefore, we feel responsible in connecting people find jobs that they will enjoy. Recruiting right 
          people for a right job is an art, but there is a science behind the art of recruiting. We utilize an 
          array of tests and analyses to find successful matches for our clients. 
    
%section#corevalue
  .wwdContent
    .row
      .columns.xlarge-12
        %h2.text-center.-text.m-top3
          %b
            CORE VALUE
        %p.text-center.m-bottom3
          Following are Joynus Core values and this is how we define quality
    .row
      .columns.xlarge-12
        .columns.xlarge-6.boxx
          .columns.xlarge-4
          
            = image_tag 'GoalCrush.png', :class => "img2 "  
          .columns.xlarge-8
            %h5
              %b
                GOAL CRUSHING ATTITUDE
                
            %p Having a passion and pride for always doing what we say we are going to do. Saying the goal out loud. 
        .columns.xlarge-6.boxx
          .columns.xlarge-4
            
            = image_tag 'Competence.png', :class => "img2 "
          .columns.xlarge-8
            %h5
              %b
                COMPETENCE
            
            %p Action speaks louder than words. Always be on time and be prepared. Think ahead and be smart about even the smallest actions. 
    .row.m-top5
      .columns.xlarge-12
        .columns.xlarge-6.boxx
          .columns.xlarge-4
            
            = image_tag 'Communication.png', :class => "img2 "
          .columns.xlarge-8
            %h5
              %b
                COMMUNICATION
            %p Communication is not about writing a long email. It’s about delivering the conceptual idea as vivid as an image and making sure all parties are on the same page. 
        
        .columns.xlarge-6.boxx
          .columns.xlarge-4
            = image_tag 'Commitment.png', :class => "img2 "
            
          .columns.xlarge-8
            %h5
              %b
                COMMITMENT
                  
            %p Jedi master Yoda once said “Do or Do not. There is no try.” This is a statement of commitment. We do not just try, we do not merely plan, we do not only hope; we actually do it.
    
      .columns.xlarge-12
        .columns.xlarge-6.boxx
          .columns.xlarge-4
            = image_tag 'NoExcuse.png', :class => "img2"
            
          .columns.xlarge-8
            %h5
              %b
                NO EXCUSE ATTITUDE
            %p Things don't always go as planned and it is tempting to blame.  Blaming is not taking control. Take control by looking for what we could have done differently. Fix the problem and learn from mistakes. 
          
        .columns.xlarge-6.boxx  
          .columns.xlarge-4
            = image_tag 'Openness.png', :class => "img2"
            
          .columns.xlarge-8
            %h5
              %b
                OPENNESS & HONESTY
             
            %p Openness and honesty helps finding solutions that lead to improvement.  Joynus develops open and honest relationships where we feel comfortable sharing achievements as well as disappointment.
    
  
