%section.feature-section.no-spacing
  .feature.animated.fadeIn
    %article.feature-static
      %img{ data: { interchange:"[#{asset_path('about-bg-mobile.jpg')}, (small)], [#{asset_path('about-bg.jpg')}, (medium)], [#{asset_path('about-bg.jpg')}, (large)]" } }
    %article.feature-absolute
      %img{ data: { interchange:"[#{asset_path('about-bg-mobile.jpg')}, (small)], [#{asset_path('about-bg.jpg')}, (medium)], [#{asset_path('about-bg.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center= t 'about.feature-header'

%section
  .row
    .columns.large-12
      %h2.text-center.secondary-text.no-margin-top= t 'about.content-header'
      %p= t 'about.content-paragraph-one'
      %p
        .left.door-img= image_tag('about-us-door.png')
        #{t('about.content-paragraph-two')}

      %div.button-container
        %h4.mb--= t 'content-callout'
        = link_to t('about.jobseekers-button'), jobs_path, class: 'button secondary radius small mr--'
        = link_to t('about.businesses-button'), employers_path, class: 'button primary radius small mr--'
