<section class="feature-section no-spacing">
  <div class="feature animated fadeIn">
    <div class="feature-container">
              <%= image_tag 'about-bg.jpg' %>

      <!--img data-interchange="[/assets/about-bg-mobile.jpg, (small)], [/assets/about-bg.jpg, (medium)], [/assets/about-bg.jpg, (large)]" data-uuid="interchange-jk19bxgf0" src="/assets/about-bg.jpg"-->
      <div class="feature-text">
        <h1 class="text-center">
          <%= t 'about.feature-header' %>
        </h1>
      </div>
    </div>
  </div>
</section>
<section>
	
	<div id="container" style="position:relative;">
    <div id="div1" style="position:absolute; top:0; left:0;"></div>
    <div id="div2" style="position:absolute; top:0; left:0;"></div>
</div>
	
	
  <div class="row box m-bottom3">
    
    <div class="columns large-5">
      <h2 class="text-center secondary-text no-margin-top">Why we do what we do</h2>
      <p>
        Our experience tells us that every business must grow and if they are not growing, they are dying. 
        We believe that hiring the right talent is the first ingredient for the growth. We are the catalyst to 
        help companies grow by hiring the right talent and we are the catalyst helping talents find the right company.
      </p>
    </div>  
      <div class="columns large-5">
        <%= image_tag 'growth1.png', :class => "img0 box" %>
      </div>
  </div> 
  
  
  <div class="row box">
      
      
      <div class="columns large-5">
        
        <%= image_tag 'find-people.png', :class => "imgg box" %>
        
      </div>
      
      
      <div class="columns large-5 m-left-n">
        <h2 class="text-center secondary-text m-bottom">We believe</h2>
        <p>
         Job satisfaction leads to happiness and growth. We spend majority of our lives at work.
            So we feel responsible to help people find jobs that they would enjoy.
        <br><br>Seeing through people to finding their strengths is an art, yet also scientific. You can run many tests, cross match experiences with series of interviews.
            <!--<br>Click <a style="font-size:120%" href="/">Interview</a> to see how we have perfected this.    -->
        </p>    
      </div>      
  
  </div>
  
  
  <div class="row">
  <div class="columns large-12">  
  <h2 class="text-center secondary-text m-top2">
  Core Value</h2>
  <p class="text-center m-bottom3">
   All members of Joynus embody following six principles, whether handling any internal projects or how we treat one another,<br> how we represent ourselves to the public. It is just one of the things that makes Joynus peculiar.
  </p>
  
  
    </div>
  </div>
   
  
							
						<div class="wwdContent">
				
						<div class="row">
						  
						  
						    
						     
						     <div class="columns large-2">
						     <%= image_tag 'goal.png', :class => "img1 m-left3 m-top-n text-center" %> 
						     </div>
						     <div class="columns large-4">
						     
						     <h3 class="text-center secondary-text ">
						      Goal Crushing Attitude
						     </h3>
						     <p >Thinking & actions that lead to make the choice to do your best.
						        To have a passion and pride for always doing what you say you are going to do</p>
						    
						     </div>
						    
						    <div class="columns large-2">
						     <%= image_tag 'competence.png', :class => "img3 m-left4 m-top2" %> 
						     </div>
						     <div class="columns large-4">
						     
						     
						     <h3 class="text-center secondary-text m-right2">
						      Competence
						     </h3>
						     <p >Always be on Time & prepared. The notion of competence that we expect
						        is to think ahead <br>and be smart about even the smallest actions</p>
						       
						    </div>
						    
						    
						    
						</div>
						
						<div class="row m-top2">
						  
						  
						    
						     
						     <div class="columns large-2">
						     <%= image_tag 'communication.png', :class => "img2 m-left2 m-top1" %> 
						     </div>
						     <div class="columns large-4">
						     
						     <h3 class="text-center secondary-text m-right2">
						      Communication
						     </h3>
						     
							     <p>Communication is not just talking a lot and writing a long. It's really
							     about delivering the conceptual idea to the person you are talking to as vivid as an image</p>
						    
						     </div>
						    
						    <div class="columns large-2 ">
						     <%= image_tag 'commitment.png', :class => "img1 m-left3" %> 
						     </div>
						     <div class="columns large-4">
						     
						     
						     <h3 class="text-center secondary-text m-right2">
						      Commitment
						     </h3>
								<p>Commitment is what separates average to great. Yoda says "Do or Do not. There is
						           no try." This is a statement of commitment. They do not just try; they actually do it.</p>
						       
						    </div>
						    
						    
						    
						</div>
						
						<div class="row m-top2">
						  
						  
						    
						     
						     <div class="columns large-2">
						     <%= image_tag 'no-excuse.png', :class => "img1 " %> 
						     </div>
						     <div class="columns large-4">
						     
						     <h3 class="text-center secondary-text ">
						       No Excuse Attitude
						     </h3>
						     
							     <p>Random things always happen. If you spend energy looking for creative ways
						     that could do things differently next time to create better results, you can control of your business & life</p>
						    
						     </div>
						    
						    <div class="columns large-2">
						     <%= image_tag 'openness1.png', :class => "imgg m-left2 m-top-n2" %> 
						     </div>
						     <div class="columns large-4">
						     
						     
						     <h3 class="text-center secondary-text ">
						      Openness & Honesty
						     </h3>
								<p>Openness & Honesty lead to finding solutions that lead to improvement. Joynus develops a 
						     relationship with clients and employees where we feel comfortable</p>
						       
						    </div>
						    
						    
						    
						</div>
						
					
  </section>
  
<div class="button-container text-center">
  <h3 class="mb--">
    <%= t 'about.content-callout' %>
  </h3>
  <%= link_to t('about.jobseekers-button'), jobs_path, class: 'button secondary radius small mr--' %>
  <%= link_to t('about.businesses-button'), employers_path, class: 'button primary radius small mr--' %>
</div>

