= form_tag(send_mail_path) do |f|
  = invisible_captcha
  
  
  .row
    .columns.large-6
      = text_field_tag 'first_name', nil, 'required' => '', placeholder: t('contact-form.first-name')
  
    .columns.large-6
      = text_field_tag 'last_name', nil, 'required' => '', placeholder: t('contact-form.last-name')

  .row
    .columns.large-12
      = email_field_tag 'email', nil, 'required' => '', placeholder: t('contact-form.email')
  .row
    .columns.large-12
      = text_field_tag 'phone', nil, 'required' => '', placeholder: t('contact-form.phone')
  
  .row
    .columns.large-12
      = text_field_tag 'company', nil,  placeholder: t('contact-form.company')
  
  
  .row
    .columns.large-12
      = select_tag 'subject', options_for_select(Contact::SUBJECTS, ''), include_blank: t('contact-form.subject ')

  .row
    .columns.large-12
      = text_area_tag 'message', nil, placeholder: t('contact-form.message'), rows: 8
  .row
    .columns.large-12
      = submit_tag t('contact-form.button'), class: 'button secondary submit small radius no-margin right', 'disabled' => ''



/
  .row
    .columns.large-6
      = text_field_tag 'first_name', nil, 'required' => '', placeholder: t('contact-form.first-name')
    .columns.large-6
      = text_field_tag 'last_name', nil, 'required' => '', placeholder: t('contact-form.last-name')

  .row
    .columns.large-7
      = email_field_tag 'email', nil, 'required' => '', placeholder: t('contact-form.email')
    .columns.large-5
      = text_field_tag 'phone', nil, 'required' => '', placeholder: t('contact-form.phone')

  .row
    .columns.large-12
      = select_tag 'subject', options_for_select(Contact::SUBJECTS, ''), include_blank: t('contact-form.subject')

  .row
    .columns.large-12
      = text_area_tag 'message', nil, placeholder: t('contact-form.message'), rows: 8
  .row
    .columns.large-12
      = submit_tag t('contact-form.button'), class: 'button primary submit small radius no-margin right', 'disabled' => ''
