- if flash[:notice]
  = render 'shared/success_notice'

%section.feature-section.no-spacing
  .feature.animated.fadeIn
    %article.feature-static
      %img{ data: { interchange:"[#{asset_path('contact-bg-mobile.jpg')}, (small)], [#{asset_path('contact-bg.jpg')}, (medium)], [#{asset_path('contact-bg.jpg')}, (large)]" } }
    %article.feature-absolute
      %img{ data: { interchange:"[#{asset_path('contact-bg-mobile.jpg')}, (small)], [#{asset_path('contact-bg.jpg')}, (medium)], [#{asset_path('contact-bg.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center= t 'contact.feature-header'

%section
  .row
    .columns.large-8.large-offset-2
      %h2.text-center.secondary-text.no-margin-top= t 'contact.content-header'
      %p.no-margin= t 'contact.content-text'

%section.form-section.no-spacing.mb--
  .row
    .columns.large-8.large-offset-2
      %fieldset.mb--
        = render 'form'

%section.light-color-bg
  .row
    .columns.large-12
      %h2.text-center.primary-text.mb--= t 'contact.office-locations'

  #locations
    .row
      .columns.large-8.large-offset-2
        .row
          .columns.large-4
            %h4.text-thin.primary-text Alpharetta
            %ul.no-bullet
              %li.small 11545 Park Woods Circle Ste B
              %li.small Alpharetta, GA 30005
              %li.small #{mail_to 'jobs@joynusstaffing.com'}
              %li.small #{t('contact.fax-label')}: 678-369-7222
              %li.small #{t('contact.phone-label')}: 678-248-5833
          .columns.large-4
            %h4.text-thin.primary-text LaGrange
            %ul.no-bullet
              %li.small 1506 Whitesville Street
              %li.small LaGrange, GA 30240
              %li.small #{mail_to 'job@joynusstaffing.com'}
              %li.small #{t('contact.fax-label')}: 706-443-5186
              %li.small #{t('contact.phone-label')}: 706-443-5184
          .columns.large-4
            %h4.text-thin.primary-text Opelika
            %ul.no-bullet
              %li.small 2204 B Gateway Drive
              %li.small Opelika, AL 36801
              %li.small #{mail_to 'job@joynusstaffing.com'}
              %li.small #{t('contact.fax-label')}: 334-737-6552
              %li.small #{t('contact.phone-label')}: 334-737-6550

%section#resources
  .row
    .columns.large-3.large-offset-1
      %h3.secondary-text.no-margin= t 'contact.helpful-resources'
    .columns.large-4
      %h5.primary-text.text-thin.no-margin.health-care
        %a{href: '#'}= t 'contact.healthcare'
    .columns.large-4
      %h5.primary-text.text-thin.no-margin.industrial-careers
        %a{href: '#'}= t 'contact.industrial-careers'
