- if flash[:notice]
  = render 'shared/success_notice'

%section.feature-section.no-spacing
  .feature.animated.fadeIn
    .feature-container
      %img{ data: { interchange:"[#{asset_path('contact-bg-mobile.jpg')}, (small)], [#{asset_path('contact-bg-mobile.jpg')}, (medium)], [#{asset_path('contact-bg.jpg')}, (large)]" } }
      .feature-text
        %h1.text-center= t 'contact.feature-header'

%section
  .row
    .columns.large-8.large-offset-2
      %h2.text-center.secondary-text.no-margin-top= t 'contact.content-header'
      %p.no-margin= t 'contact.content-text'

%section.form-section.no-spacing.mb--
  .row
    .columns.large-8.large-offset-2
      %fieldset.mb--
        = render 'form'

%section.light-color-bg
  .row
    .columns.large-12
      %h2.text-center.primary-text.mb--= t 'contact.office-locations'

  #locations
    .row
      .columns.large-12.large
        .row
          .columns.large-2
            %h4.text-thin.primary-text Norcross
            %ul.no-bullet
              %li.small 4855 Peachtree Industrial Blvd. Suit #220
              %li.small Norcross, GA 30092
              %li.small #{mail_to 'job@joynus.com'}
              %li.small #{t('contact.fax-label')}: 678-369-7222
              %li.small #{t('contact.phone-label')}: 678-248-5833
          .columns.large-2
            %h4.text-thin.primary-text LaGrange
            %ul.no-bullet
              %li.small 1506 Whitesville Street
              %li.small LaGrange, GA 30240
              %li.small #{mail_to 'job@joynus.com'}
              %li.small #{t('contact.fax-label')}: 706-443-5186
              %li.small #{t('contact.phone-label')}: 706-443-5184
          .columns.large-2
            %h4.text-thin.primary-text Opelika
            %ul.no-bullet
              %li.small 2204 B Gateway Drive
              %li.small Opelika, AL 36801
              %li.small #{mail_to 'job@joynus.com'}
              %li.small #{t('contact.fax-label')}: 334-737-6552
              %li.small #{t('contact.phone-label')}: 334-737-6550
          .columns.large-2
            %h4.text-thin.primary-text Greenville
            %ul.no-bullet
              %li.small 125 W Commerce Street  
              %li.small Greenville AL 36037
              %li.small #{mail_to 'job@joynus.com'}
              %li.small #{t('contact.phone-label')}: 706-302-5099
          .columns.large-2
            %h4.text-thin.primary-text Conyers
            %ul.no-bullet
              %li.small 1775 Parker Rd SE Building C Suite 201,  
              %li.small Conyers, GA 30094
              %li.small #{mail_to 'job@joynus.com'}
              %li.small #{t('contact.phone-label')}: 678-487-3782 
          .columns.large-2
            %h4.text-thin.primary-text 
            %ul.no-bullet
              

%section#resources
  .row
    .columns.large-3.large-offset-1
      %h3.secondary-text.no-margin= t 'contact.helpful-resources'
    .columns.large-3
      %h5.primary-text.text-thin.no-margin.health-care
        %a{href: 'http://joynuscare.com', target: '_blank'}= t 'contact.healthcare'
    .columns.large-3.end
      %h5.primary-text.text-thin.no-margin.industrial-careers
        %a{href: 'http://tidrainc.com/', target: '_blank'}= t 'contact.industrial-careers'
