%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
  

  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('DirectHire_M.jpg')}, (small)], [#{asset_path('DirectHire_M.jpg')}, (medium)], [#{asset_path('DirectHire.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            %b DIRECT HIRE
            
    .row
      
      .columns.large-12
        .path
          %a{:href => "/" }  
            .srvIco1
              %i.icon-home
          %a{:href => "/"}
            %h5 Home    
          .srvIco11
            %i.icon-right  
          %a{:href => "/services"}
            %h5 Services 
          .srvIco11
            %i.icon-right    
          %h5 Direct Hire
  %section        
    
    .row
      .box
        .columns.xlarge-4.text-center
          %a{:href => "#contingencysearch"}
            = image_tag 'ContingencySearch.png', :alt => 'Contingency Search', :class => "img555"  
        .columns.xlarge-8
          %a{:href => "#contingencysearch"}
            %h2
              %b
                CONTINGENCY SEARCH 
            
          %p
            Ideal for early and mid-career professional positions. We research, source, screen and interview candidates within a 25-mile radius of the client office 
            and provide the client with a slate of 3-5 highly qualified candidates within 8 to 12 days. The client is invoiced a fee only after a placement is made. 
            
    .row
      .box
        .columns.xlarge-4.text-center
          %a{:href => "#retainersearch"}
            = image_tag 'RetainerSearch.png', :alt => 'Retainer Search', :class => "img555"  
        .columns.xlarge-8
          %a{:href => "#retainersearch"}
            %h2
              %b
                RETAINER SEARCH 
          %p
            Ideal for leadership roles, critical, rare, an in-demand talent that requires extensive market research and headhunting to attract. 
            Hiring the best requires in-depth planning, researching, networking and carefully interviewing and vetting candidates to discover 
            the best blend of skills and personal traits suited for the client. Relocation and sign-in bonuses are often required. 
            A performance retainer is an active partnership between Joynus and the client to exclusively position and elevates the leadership role in the marketplace.
  %section
    %hr    
    
  %section#contingencysearch
    .row
      .text-center
        %h2
          %b
            CONTINGENCY PROCESS
      .box
        .columns.xlarge-4.text-center
          = image_tag 'IntakeDiscoveryCall.png', :alt => "IntakeDiscoveryCall", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b  
              INTAKE AND DISCOVERY
          %p
            The hiring manager and key stakeholders provide insight and details to ensure the search consultant effectively market the opportunity.
          
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'ResearchCompany.png', :alt => "Research Company", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              RESEARCH COMPANIES 
          %p
            Using the latest databases and proprietary technology, Joynus identifies companies and candidates to headhunt within 25 miles of client location.
    
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Marketing.png', :alt => "Marketing", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              MARKETING AND ADVERTISING
          %p  
            Joynus creates a unique script designed to attract candidates through cold calling and “headhunting” from the target market.  We place ads on social media to encourage networking.
            
    
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'CandidatePresentation.png', :alt => "Presentation", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              CANDIDATE PRESENTATION
          %p
            Within 8 - 12 business days from the intake call, Joynus will provide a slate of 3 - 5 highly qualified candidates and provide the client with a market review and analysis. 
            
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Invoice.png', :alt => "Invoice", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              INVOICE
          %p
            Client is invoiced the fee after a placement is made.
  
  %section
    %hr    
    
  %section#retainersearch
   
    .row
      .text-center
        %h2 
          %b
            RETAINER PROCESS
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Engagement.png', :alt => "Engagement", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              ENGAGEMENT
          %p
            Deposit required to initiate any domestic or international search: $5,000.
            
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Analysis.png', :alt => "Analysis", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              ORGANIZATIONAL ANALYSIS
          %p
            Joynus devotes extensive time and resources to understand your organization’s unique culture, environment, leadership style, and business goals and challenges. 
            The search consultant conducts individual interviews with key personnel and stakeholders and compiles the information into an attractive visual art marketing brochure.


    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'AdvertisingRecruitment.png', :alt => "Advertising", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              ADVERTISING AND RECRUITMENT
          %p
            The search consultant and client work together to determine the best social media outlets to market the position.  
            A significant amount of inquiries will be made, and it essential for Joynus to respond quickly, professionally with accurate
            and complete information in a warm and friendly manner. This approach creates a high-level of respect for your brand and leads 
            to outstanding candidate experience.
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'InitialScreen.png', :alt => "Screen", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              SCREENING AND REVIEW
          %p
            Management of applications and handling the flow of resumes is an ongoing and significant process. 
            Joynus provides timely and personal responses to questions and inquiries.
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Evaluation.png', :alt => "Evaluation", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              EVALUATION AND PRESENTATION
          %p
            Evaluation of resumes is objective and subjective. Objectively, do applicants meet the minimum and preferred required qualifications? 
            Subjectively, do they possess the management and leadership traits, do their past experiences and accomplishments fit within the culture of the organization? 
            Joynus will provide the hiring leader and HR partner a presentation called a “candidate slate” which includes a briefing of objective and subjective findings. 
            The presentation will include summary information on the process up to date, the overall candidate pool, and any trends or issues that have arisen. 
          	
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'InterviewProcess.png', :alt => "InterviewProcess", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              INTERVIEW PROCESS
          %p
            Once the candidates have been selected, Joynus will coordinate all the interviews at a date and time convenient to your organization. 
            Joynus will provide a sample list of questions focused on key traits and attributes and remain engaged throughout the process to ensure 
            timely feedback and communication. 

    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Negotiation.png', :alt => "Negotiation", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              NEGOTIATION TERMS AND CONDITIONS
          %p
            Joynus maintains candidate expectations in-line with the client’s budget and vice-versa.  Prior to the offer stage client and search consultant 
            discuss potential offer parameters and other benefit details for candidates of interest.  Joynus pre-closes candidates to ensure there are no surprises 
            when the final offer is extended.  During a pre-close, if an issue arises, we provide consultative solutions to all parties. 
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'OnboardingSupport.png', :alt => "OnboardingSupport", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              ON-BOARDING SUPPORT
          %p
            There are a variety of strategies and issues to manage between the acceptance date and start date. 
            Joynus will brief the client on recommendations and actions to take during the transition. We provide day 1, 15, 30, 60 and 90 
            follow up and feedback to ensure the candidate experience and client expectations are a match.
          
            
  .extra-navigation.m-top3    
    %a{:href => "/staffing"}
      .item
        = image_tag 'Staffing.png', :alt => "Staffing", :class => 'img56' 
        %h2
          %b
            STAFFING
        %p{:style => "color:black; text-align:none"}
          Flexible, fast and convenient way to add workforce.
        %p
          %b
            %a{:href => "/staffing"} Learn More  
    %a{:href => "/rpo"}
      .item
        = image_tag 'RPO.png', :alt => "RPO", :class => 'img56' 
        %h2
          %b
            RPO
        %p{:style => "color:black"}
          Outsource. We become your recruiting department.   
        %p  
          %b
            %a{:href => "/rpo"} Learn More  
      
