%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
  = stylesheet_link_tag 'application', media: 'all'  

  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('recruit-bg-mobile.jpg')}, (small)], [#{asset_path('recruit-bg-mobile.jpg')}, (medium)], [#{asset_path('recruit-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            Direct Hire
            %h5 
              We devote extensive time and resources to understand your organization’s unique <br>culture, environment, leadership style, goals and challenges
  .row
    .columns.large-12.large-offset-1 
      .path
        %a{:href => "/"}  
          .srvIco1
            %i.icon-home
        %a{:href => "/"}
          %h5 Home   
        .srvIco11
          %i.icon-right  
        %a{:href => "/services"}
          %h5 Services 
        .srvIco11
          %i.icon-right    
        %h5 Direct Hire
  %section        
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Temp.png', :alt => 'Temp', :class => "img55"  
        .columns.large-8
          %h2
            Contingency Search Option
          %p
            Ideal for early and mid-career professional positions. We research, source, 
            screen and interview candidates within a 25 mile radius of the client office
            and provide the client with a slate of highly qualified candidates within 8 to 12
            days. The client is invoiced a fee only after a placement is made. Contingency 
            search yields high volume of resumes presented to the client
            
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Temp_To_Perm.png', :alt => 'Temp_To_Perm', :class => "img55"  
        .columns.large-8
          %h2
            Retainer Search Option
          %p
            Ideal for leadership roles, critical, rare, in-demand talent that require 
            extensive market research and headhunting to attract. Hiring the best requires 
            in-depth planning, researching, networking and carefully interviewing and vetting
            candidates to discover the best blend of skills and personal traits suited for 
            the client. Relocation and sign-in bonuses are often required. A performance 
            retainer is an active partnership with Joynus Search to exclusively market and 
            elevate the importance of a critical role
  %section
    %hr    
    
  %section
    .row
      .text-center
        %h2
          Contingency Search Process
      .box
        .columns.large-4.text-center
          = image_tag 'Discovery.png', :alt => "Discovery", :class => 'img55' 
        .columns.large-8
          %p
            Intake and discovery call
          
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Assessment.png', :alt => "Assessment", :class => 'img55' 
        .columns.large-8
          %p
            Research companies within 25 miles of client location
            
    
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Orientation.png', :alt => "Orientation", :class => 'img55' 
        .columns.large-8
          %p
            Identify potential candidates
          
            
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Placement.png', :alt => "Placement", :class => 'img55' 
        .columns.large-8
          %p
            Create unique marketing script designed to attract candidates (socials, LinkedIn, cold calling, networking)      
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'HighVolume.png', :alt => "HighVolume", :class => 'img55' 
        .columns.large-8
          %p
            Within 8-12 business days from the intake call, present a slate of 3+ highly qualified candidates
  
  %section
    %hr    
    
  %section
   
    .row
      .text-center
        %h2 Retainer Search Process
      .box
        .columns.large-4.text-center
          = image_tag 'Retention.png', :alt => "Retention", :class => 'img55' 
        .columns.large-8
          %h2
            Engagement Invoice
          %p
            $5,000 for domestic search or $5,000 for international search
            
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Migration.png', :alt => "Migration", :class => 'img55' 
        .columns.large-8
          %h2
            Organizational Inquiry and Analysis
          %p
            Joynus devotes extensive time and resources to understand your organization’s unique culture, environment, leadership style and business goals and challenges.  
          %p
            Joynus conducts individual interviews with key personnel and stakeholders. 
          %p  
            Information is compiled into an attractive visual art marketing brochure

    .row
      .box
        .columns.large-4.text-center
          = image_tag 'RPO.png', :alt => "RPO", :class => 'img55' 
        .columns.large-8
          %h2
            Advertising and Recruitment
          %p
            The search consultant and client work together to determine the best outlets to market the position
          %p
            Search consultant researches and identifies companies and potential candidates and proactively reaches out using the marketing brochure
          %p
            Networking
          %p
            Social Media outlets to include, Facebook, LinkedIn, Twitter and any other unique platform where our target prospect will likely visit
          %p
            Ongoing communication with applicants and prospects.  A significant amount of inquiries will be made, and it essential for Joynus to respond quickly, professionally with accurate and complete information in a warm and friendly manner. This approach creates a high-level of respect for your brand and leads to an outstanding candidate experience
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Onsite_Manage.png', :alt => "Onsite_Management", :class => 'img55' 
        .columns.large-8
          %h2
            Initial Screening and Review
          %p
            Management of applications.  Handling the flow of resumes is an ongoing and significant process.  Joynus provides timely and personal responses to questions and inquires
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Onsite_Manage.png', :alt => "Onsite_Management", :class => 'img55' 
        .columns.large-8
          %h2
            Evaluation and Presentation
          %p
            Evaluation of resumes.  Objective and Subjective analysis.  Objectively, do applicants meet the minimum and preferred required qualifications?  Subjectively, do they possess the management and leadership traits, do their past experiences and accomplishments fit within the culture of the organization?
          %p
            
            Briefing and Presentation of Candidate Slate
          %p
            Joynus will provide the hiring leader and HR partner briefing of objective and subjective findings.  
          	
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Onsite_Manage.png', :alt => "Onsite_Management", :class => 'img55' 
        .columns.large-8
          %h2
            Interview Process
          %p
            Once the candidates have been selected, Joynus will coordinate all the interviews at a date and time convenient to your organization. Joynus will provide a sample list of questions focused on key traits and attributes
          %p
            Joynus will remain engaged throughout the process to ensure timely feedback and communication

    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Onsite_Manage.png', :alt => "Onsite_Management", :class => 'img55' 
        .columns.large-8
          %h2
            Negotiation Terms and Conditions
          %p
            Joynus strives to maintain candidate expectations in-line with client’s budget and vice-versa
          %p
            Prior to offer stage client and executive recruiter discuss potential offer parameters and other benefit details for candidates of interest.  Executive recruiter pre-closes candidates to ensure there are no surprises when the final offer is extended.  During a pre-close, if an issue arises, executive recruiter provides consultative solutions to all parties
          %p
            Transition Strategy. There are a variety of strategies and issues to manage between the acceptance date and start date.  Joynus will brief the client on recommendations and actions to take during the transition
    .row
      .box
        .columns.large-4.text-center
          = image_tag 'Onsite_Manage.png', :alt => "Onsite_Management", :class => 'img55' 
        .columns.large-8
          %h2
            On-boarding Support
          %p
            Once the candidates have been selected, Joynus will coordinate all the interviews at a date and time convenient to your organization. Joynus will provide a sample list of questions focused on key traits and attributes
          %p
            Joynus will remain engaged throughout the process to ensure timely feedback and communication
          
          %p
            Joynus will provide day 1, 15, 30, 60 and 90 follow up and feedback to ensure the candidate experience and client expectations are a match
          
            
  .extra-navigation.m-top3    
    %a{:href => "/staff"}
      .item
        = image_tag 'staffing.png', :alt => "Staffing", :class => 'img55' 
        %h2
          Staffing
        %p{:style => "color:black"}
          We devote extensive time and resources
        %p
          %b
            %a{:href => "/staff"} Learn More  
    %a{:href => "/bpo"}
      .item
        = image_tag 'bpo1.png', :alt => "BPO", :class => 'img55' 
        %h2
          RPO
        %p{:style => "color:black"}
          We devote extensive time and resources   
        %p  
          %b
            %a{:href => "/bpo"} Learn More  
      
