%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
   
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('staff-bg-mobile.jpg')}, (small)], [#{asset_path('staff-bg-mobile.jpg')}, (medium)], [#{asset_path('staffing-bg.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            RPO
          %h5 
            We take on segment of your operation and responsibility
  .row
    .columns.large-12
      .path
        %a{:href => "/"}  
          .srvIco1
            %i.icon-home
        %a{:href => "/"}
          %h5 Home   
        .srvIco11
          %i.icon-right  
        %a{:href => "/services"}
          %h5 Services 
        .srvIco11
          %i.icon-right    
        %h5 RPO      
  
  %section.wwdContent3.m-top1#bpo
    .row
      .columns.large-12
        %h2.text-center
          %b
            RECRUITMENT PROCESS OUTSOURCING
      .box
        .columns.large-4.large-offset-1
          .specialcontainer
            =image_tag 'RPO.png', :class => "img7", :style => "width:100%"
        .columns.large-6
        
          .row
            
            .columns.large-12
              %p 
                Smart companies focus on their core business functions. 
                Rather than focusing on cost reduction, companies strengthen the competitiveness 
                by outsourcing things that are not in their core business, so you can maximize your 
                core business output. 
              
                
    
    .row
      .columns.large-12
        
        %h2 
          %b WHAT IS RPO?
        %p
          Recruitment Process Outsourcing is to depend all or part of your recruitment processes and responsibility to Joynus.
          RPO is different than Staffing and Direct Hire because we assume the ownership of the design and management of the recruitment process and the 
          responsibility of the results. It could be during merger/acquisition or restructuring of recruitment process to adjust the new organizational 
          structure or business is growing fast and need temporary help.
          
        %p
          Please know that there will be an initial transitional period of one to three months to get to know your organization, establish systems and
          processes and implement any new technology.
    .row.m-top4
      
      .columns.large-12
        %h2
          %b WHY USE RPO?
        %p
          You want to offload the entire recruitment process of the organization.
        %p    
          Faster Time-To-Fill
        %p
          Reduced recruitment cost
        %p
          Increase hiring manager satisfaction rate
        %p
          Maintain company culture
        %p
          Enables your core business members to focus on productivity
        %p
          Improve candidate experience
        %p
          Unlike traditional staffing or recruiting agencies, RPO bring vast array of value to hiring.
    .row.m-top4     
      .columns.large-12
        %h2
          %b
            WHO SHOULD USE RPO?
        %p
          You are a small to mid-size business. You have less than 500 employees. <br>
        %p
          You are having difficulty filling positions and it’s costing too much. <br>
        %p
          Your positions I am hiring for are rare, in-demand positions.<br>
        %p
          Your brand is not vibrant.<br>
        %p
          Your hiring process is not consistent.<br>
        %p
          You are not sure if your company is compliant.
      
      
          
%hr
  
  %section
    .row
      .columns.large-12
        %h2.text-center
          %b
            HOW DOES RPO WORK
    
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Discovery.png', :alt => "Discovery", :class => 'img55' 
        .columns.xlarge-8
          %h2
            %b
              DISCOVERY
          %p
            Efficient and effective way to clarify and shape the solution. This is where 
            we get all the project stakeholders on the same page and scale the project. 
            Clients will elaborate current problems, what took place and wishes.
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Assessment.png', :alt => "Assessment", :class => 'img55' 
        .columns.xlarge-8
          %h2
            %b
              ASSESSMENT
          %p
            Joynus will review client’s turnover rates, current technology in place, how long it takes fill, and scalability. If the client does not have data readily available. Joynus will assess the client and provide a report.<br>
            Joynus will review current compliance in place.

    
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Structure.png', :alt => "Structure", :class => 'img55' 
        .columns.xlarge-8
          %h2
            %b
              STRUCTURE
          %p
            RPO Lead and team of specialized recruiters are assigned from finance to HR to IT. RPO Lead is a liaison. <br>
            Communication channel is established.<br>
            Job marketing under customer’s brand is established. <br>
            RPO is highly customizable to fit each organization.

            
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Placement.png', :alt => "Placement", :class => 'img55' 
        .columns.xlarge-8
          %h2
            %b
              PLACEMENT
          %p
            Placements are made with understanding of business goals.<br>
            Manage candidate experience
        
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Analysis.png', :alt => "Analysis", :class => 'img55' 
        .columns.xlarge-8
          %h2
            %b
              ANALYSIS
          %p
            Provide forecast staffing needs and plan resources to respond to these needs.<br>
            Provide turnover and retention analysis<br>
            Joynus analyze worker performance and compensation<br>
            Joynus will provide ROI for using Joynus RPO against staffing agency, job board, applicant tracking system and other cost.<br>
            
  
%hr
  %section  
    .row
      .columns.large-12
        
        %h2
          %b
            DETERMINATION IF RPO RIGHT FOR YOU
        %p
          Why are you outsourcing?
        %p
          What do you want to outsource?
        %p            
          What’s going well and what is not specifically in hiring process?
        %p
          Are you seeking short or long term solution?
        %p
          What is your perfect scenario?
        %p
          Do you have a hard budget in mind?
            
      .columns.large-12
        %h2
          %b
            WHAT TO EXPECT
        %p
          Initial transition period will be 1-3 months.<br> You may not be able to judge RPO first four to six weeks of the engagement. <br>
          Below chart is different levels you can expect from RPO. 

  %section
    .row
      .columns.small-12
        %table
          %tr
            %th
            %th Lite
            %th Gold
            %th Platinum
          %tr
            %td#t01 Job Intake
            %td{:colspan => "3"}
          %tr
            %td Sourcing
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Screening
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Interview
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Drug Screen
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Background Check
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Job Description
            %td 
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td#t01 Compliance
            %td{:colspan => "3"}
          %tr
            %td OSHA documentation
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Unemployment claims
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Policies and Procedure
            %td 
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Handbook
            %td 
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Safety Management
            %td 
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td OSHA investigation management
            %td 
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td OSHA resolution/negotiation
            %td 
            %td 
            %td 
              %i.icon-ok
          %tr
            %td#t01 Technology
            %td{:colspan => "3"}
          %tr
            %td Data Management
            %td 
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td ATS setup
            %td 
            %td 
            %td 
              %i.icon-ok
          %tr
            %td Data Migration
            %td 
            %td 
            %td 
              %i.icon-ok
          %tr
            %td#t01 Compensation
            %td{:colspan => "3"}
          %tr
            %td Worker’s compensation
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Salary determination
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Benefits
            %td 
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td#t01 Evaluation
            %td{:colspan => "3"}
          %tr
            %td Attendance/Time punch management
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td On-Site Coordinator
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td#t01 Marketing
            %td{:colspan => "3"}
          %tr
            %td Poster
            %td 
            %td 
              %i.icon-ok
            %td 
              %i.icon-ok
          %tr
            %td Video
            %td 
            %td 
            %td
              %i.icon-ok





  .extra-navigation.m-top3    
    %a{:href => "/staff"}
      .item
        = image_tag 'Staffing.png', :alt => "Staffing", :class => 'img55' 
        %h2
          Staffing
        %p{:style => "color:black"}
          We devote extensive time and resources   
        %p  
          %b
            %a{:href => "/staff"} Learn More  
    
    %a{:href => "/directhire"}
      .item
        = image_tag 'Direct Hire.png', :alt => "Direct Hire", :class => 'img55' 
        %h2
          Direct Hire
        %p{:style => "color:black"}
          We devote extensive time and resources
        %p
          %b
            %a{:href => "/directhire"} Learn More  
    
        
          
  
/    
  .row.m-top3
    .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
      %h5  1. Personnel management
      .specialcontainer1
        = image_tag 'personnel.png', :alt => 'Personnel', :class => "imagee"
          
        .middle1
          %p.text1
            
            Human resource <br>
            Payroll<br>
            DOL related<br>
            Benefit
    .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1000"}
      %h5 2. Business management
      .specialcontainer1
        = image_tag 'business.png', :alt => 'Business', :class => "imagee"
        .middle1
          %p.text1
            
            Placement <br>
            Assignment<br>
            Work schedule<br>
            Job training
              
    .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
      %h5 3. Process management
      .specialcontainer1
        = image_tag 'process.png', :alt => 'Process', :class => "imagee"
        .middle1
          %p.text1 
            
            Raw material purchase<br>
            Material<br>
            Product<br>
            Inventory
  .row
    .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "500"}
      %h5 4. Facility management
      .specialcontainer1
        = image_tag 'facility.png', :alt => 'Facility', :class => "imagee"
        
        .middle1
          %p.text1
            
            Equipment maintenance<br>
            Troubleshooting<br>
            Preventive maintenance<br>
            Regular repairs
    .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1000"}
      %h5 5. Production management
      .specialcontainer1
        = image_tag 'production.png', :alt => 'Production', :class => "imagee"
        .middle1
          %p.text1
            
            Quality control<br>
            Production planning<br>
            Inventory planning<br>
            Supply chain management
    .columns.large-4.text-center{"data-aos" => "flip-down","data-aos-easing"=>"ease-out-cubic", "data-aos-duration" => "1500"}
      %h5 6. Organization management
      .specialcontainer1
        = image_tag 'organization.png', :alt => 'Organization', :class => "imagee"
        .middle1
          %p.text1 
            
            HR & general affairs<br>
            Sales & planning<br>
            Maintenance<br>
            Production & Logistics
              
 