%head
  %title Joynus Staffing | Staffing process
  %meta{:content => "Why are we different? check out our staffing process", :name => "Description"}/
   
%body
  %section.feature-section.no-spacing
    .feature.animated.fadeIn
      .feature-container
        %img{ data: { interchange:"[#{asset_path('RPO_M.jpg')}, (small)], [#{asset_path('RPO_M.jpg')}, (medium)], [#{asset_path('RPO.jpg')}, (large)]" } }
        .feature-text
          %h1.text-center.animated.fadeInDown
            %b RPO

    .row
      .columns.large-12
        .path
          %a{:href => "/"}  
            .srvIco1
              %i.icon-home
          %a{:href => "/"}
            %h5 Home   
          .srvIco11
            %i.icon-right  
          %a{:href => "/services"}
            %h5 Services 
          .srvIco11
            %i.icon-right    
          %h5 RPO      
  
  
  .row#bpo
    .columns.large-12
      
      %h3 
        %b WHAT IS RPO?
      %p
        Recruitment Process Outsourcing is to depend all or part of your recruitment processes and responsibility to Joynus. RPO is different than 
        Staffing and Direct Hire because we assume the ownership of the design and management of the recruitment process and the responsibility of the results. 
        It could be during merger/acquisition or restructuring of the recruitment process to adjust the new organizational structure or business is growing fast and need temporary help.
        
      %p
        Please know that there will be an initial transitional period of one to three months to get to know your organization, establish systems and
        processes and implement any new technology.
  .row.m-top4
    
    .columns.large-12
      %h3
        %b WHY USE RPO?
      %ul.checklist
        
        %li
          
          Faster Time-To-Fill.
        %li
          
          Reduced recruitment cost.
        %li
           
          Maintain company culture.
        %li
           
          Focus on core business.
        %li
           
          Offload the entire recuirtment process.
        %li
           
          Increase hiring manager satisfaction.
        %li
           
          Improve candidate experience.
        %li
           
          Different from traditional recruitment. 
  
      
      
          
%hr
  
  %section
    .row
      .columns.large-12
        %h2.text-center
          %b
            HOW DOES RPO WORK
    
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Discovery.png', :alt => "Discovery", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              DISCOVERY
          %p
            An efficient and effective way to clarify and shape the solution. This is where 
            we get all the project stakeholders on the same page and scale the project. 
            You will elaborate on current problems, what took place and wishes.
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Assessment.png', :alt => "Assessment", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              ASSESSMENT
          %p
            Joynus will review your processes and systems including turnover, onboarding, technology, fill time place and scalability.

    
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Structure.png', :alt => "Structure", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              STRUCTURE
          %p
            Goals and plans are created and discussed with you. When confirmed. Appropriate RPO team lead and a team of specialized recruiters are assigned from finance to HR to IT.
            We confirm job marketing with your brand and establish a communication channel. 

            
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Placement.png', :alt => "Placement", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              PLACEMENT
          %p
            Placements are made with an understanding of business goals. Joynus manages candidate experience and comparison of cost per hire is assessed.
        
    .row
      .box
        .columns.xlarge-4.text-center
          = image_tag 'Analysis.png', :alt => "Analysis", :class => 'img55' 
        .columns.xlarge-8
          %h3
            %b
              ANALYSIS
          %p
            Quality and performance of new hires are measured.Joynus work with you forecasting staffing needs and planning resources to respond to these needs.
            You will review the provided turnover and retention analysis. Also, compare ROI on before and after RPO.
            
  
%hr
  %section  
    .row
      .columns.large-12
        %h3
          %b
            WHO SHOULD USE RPO?
        %ul.checklist
          %li
             
            Small to mid-size business.  
          %li
             
            Time to fill is too long. 
          %li
             
            Too many difficult to fill rare, in-demand positions.
          %li
             
            Brand is not vibrant.
          %li
             
            Hiring process is not consistent.
          %li
             
            Not sure if your company is compliant.
      

      .columns.large-12
        %h3
          %b
            IS RPO RIGHT FOR YOU?
        %ul.checklist
          %li
             
            Why are you outsourcing?
          %li
             
            What do you want to outsource?
          
          %li
             
            Are you seeking short or long term solution?
          %li
             
            Do you have a hard budget in mind?
          %li 
             
            What’s going well and what is not in the hiring process?  
  %hr  
    %section
      .row        
        .columns.large-12
          %h3
            %b
              WHAT TO EXPECT
          %p
            An initial transition period will be 1-3 months.<br> You may not be able to judge RPO first four to six weeks of the engagement. <br>Below chart is different levels you can expect from RPO. 

  
      .row
        .columns.small-12
          %table
            %tr
              %th{:style =>"width:49%;"}
              %th Lite
              %th Gold
              %th.plat Platinum
            %tr
              %td#t01 Job Intake
              %td{:colspan => "3"}
            %tr
              %td Sourcing
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Screening
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Interview
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Drug Screen
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Background Check
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Job Description
              %td 
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td#t01 Compliance
              %td{:colspan => "3"}
            %tr
              %td OSHA documentation
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Unemployment claims
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Policies and Procedure
              %td 
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Handbook
              %td 
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Safety Management
              %td 
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td OSHA investigation management
              %td 
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td OSHA resolution/negotiation
              %td 
              %td 
              %td 
                %i.icon-ok
            %tr
              %td#t01 Technology
              %td{:colspan => "3"}
            %tr
              %td Data Management
              %td 
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td ATS setup
              %td 
              %td 
              %td 
                %i.icon-ok
            %tr
              %td Data Migration
              %td 
              %td 
              %td 
                %i.icon-ok
            %tr
              %td#t01 Compensation
              %td{:colspan => "3"}
            %tr
              %td Worker’s compensation
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Salary determination
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Benefits
              %td 
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td#t01 Evaluation
              %td{:colspan => "3"}
            %tr
              %td Attendance/Time punch management
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td On-Site Coordinator
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td#t01 Marketing
              %td{:colspan => "3"}
            %tr
              %td Poster
              %td 
              %td 
                %i.icon-ok
              %td 
                %i.icon-ok
            %tr
              %td Video
              %td 
              %td 
              %td
                %i.icon-ok





  .extra-navigation.m-top3    
    %a{:href => "/staffing"}
      .item
        = image_tag 'Staffing.png', :alt => "Staffing", :class => 'img56' 
        %h2
          %b
            STAFFING
        %p{:style => "color:black"}
          Flexible, fast and convenient way to add workforce.
        %p  
          %b
            %a{:href => "/staffing"} Learn More  
    
    %a{:href => "/directhire"}
      .item
        = image_tag 'DirectHire.png', :alt => "Direct Hire", :class => 'img56' 
        %h2
          %b
            DIRECT HIRE
        %p{:style => "color:black"}
          Find out how we hire critical, rare, in-demand talents.
        %p
          %b
            %a{:href => "/directhire"} Learn More  
    
        
          
  
