!!!
%html{ 'ng-app' => 'Joynus' }
  %head
    %title Joynuss Staffing
    %meta{ charset: 'utf-8'}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
    = javascript_include_tag 'application'

  %body{ 'ng-cloak' => '', class: ('logged-in' if current_user) }
    - if current_user
      .user-nav
        .user-nav-container
          %ul.inline-list.left
            %li
              = link_to unapproved_jobs_path do
                %span.m--r New Jobs
                - if Job.unapproved.count > 0
                  %span.label.radius.alert= Job.unapproved.count
            %li= link_to 'Add Blog Post', new_post_path
            %li.hide-for-large-up= link_to 'Log Out', logout_path
          %a.button.dropdown.tiny.right.hide-for-small-only.hide-for-medium-only{ aria: { controls: 'drop1', expanded: false }, data: { dropdown: 'drop1' }, href: '#' }= current_user.email
          %ul#drop1.f-dropdown{ aria: { hidden: true }, data: { dropdown: { content: '' } }, tabindex: '-1' }
            %li= link_to 'Edit Profile', edit_user_path(current_user.id)
            - if current_user.admin?
              %li= link_to 'Manage Users', users_path
            %li= link_to 'Log Out', logout_path


    %header
      %nav(role='navigation')
        .container.navbar-container
          .navbar-header
            %h1= link_to 'Joynus', root_url
          %ul.menu
            .hide-for-large-up
              %li.menu-item= active_link_to 'Home', root_url
            %li.menu-item= active_link_to 'Employers', employers_path
            %li.menu-item= active_link_to 'Blog', posts_path
            %li.menu-item= active_link_to 'About', about_index_path
            %li.menu-item= active_link_to 'Contact Us', contact_index_path
            %li.menu-item= link_to 'Find a Job', jobs_path, class: 'button secondary radius'

            .menu-footer
              %ul.inline-list.social-icons
                %li
                  %a.fa.fa-facebook{href: 'https://facebook.com/joynusstaffing'}
                %li
                  %a.fa.fa-twitter{href: 'https://twitter.com/joynusstaffing'}
                %li
                  %a.fa.fa-instagram{href: 'https://instagram.com/joynusstaffing'}
                %li
                  %a.fa.fa-linkedin{href: 'https://www.linkedin.com/company/3499330?trk=vsrp_jobs_res_name&trkInfo=VSRPsearchId%3A2080338161420490145807%2CVSRPtargetId%3A38262556%2CVSRPcmpt%3Aprimary'}
              .copyright
                %small &#169; Joynus Staffing #{Time.now.year}.

          %a.mobile-menu.fa-bars.fa{ href: '#', data: { action: 'toggleMenu' } }

    %main{ role: 'main', id: controller_name }
      = yield

    #pusher

    %footer
      .row
        .columns.medium-5.medium-push-7
          %div.social-icons-container
            %ul.inline-list.social-icons
              %li
                %a.fa.fa-facebook{href: 'https://facebook.com/joynusstaffing'}
              %li
                %a.fa.fa-twitter{href: 'https://twitter.com/joynusstaffing'}
              %li
                %a.fa.fa-instagram{href: 'https://instagram.com/joynusstaffing'}
              %li
                %a.fa.fa-linkedin{href: 'https://www.linkedin.com/company/3499330?trk=vsrp_jobs_res_name&trkInfo=VSRPsearchId%3A2080338161420490145807%2CVSRPtargetId%3A38262556%2CVSRPcmpt%3Aprimary'}
        .columns.medium-7.medium-pull-5
          %p.small &#169; Joynus Staffing #{Time.now.year}. All Rights Reserved.
