!!!
%html{ 'ng-app' => 'Joynus' }
  %head
    %title Joynuss Staffing
    %meta{ charset: 'utf-8'}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor/modernizr'
    = csrf_meta_tags
    = javascript_include_tag 'application'

  %body{ 'ng-cloak' => '', class: ('logged-in' if current_user) }
    - if current_user
      .user-nav
        .user-nav-container
          %ul.inline-list.left
            %li
              %a{href: '#'} Unapproved Jobs
            %li
              = link_to 'Add Blog Post', new_post_path
          %a.button.dropdown.tiny.right{ aria: { controls: 'drop1', expanded: false }, data: { dropdown: 'drop1' }, href: '#' }= current_user.email
          %ul#drop1.f-dropdown{ aria: { hidden: true }, data: { dropdown: { content: '' } }, tabindex: '-1' }
            %li= link_to 'Edit Profile', edit_user_path(current_user.id)
            - if current_user.admin?
              %li= link_to 'Manage Users', users_path
            %li= link_to 'Log Out', logout_path

    .off-canvas-wrap{ 'data-offcanvas' => ''}
      .inner-wrap
        %nav.tab-bar.tab-bar-mobile.hide-for-large-up
          .left
            %h1.primary-text= link_to 'Joynus Staffing', root_url

          .right-small.tab-bar-section
            %a.right-off-canvas-toggle.menu-icon{ href: '#' }
              %span

        .right-off-canvas-menu
          %div.text-center.mt--
            = link_to 'Find a Job', jobs_path, class: 'button secondary radius small'

          %ul.off-canvas-list
            %li= link_to 'Employers', employers_path
            %li= link_to 'Blog', posts_path
            %li= link_to 'About', about_index_path
            %li= link_to 'Contact', contact_index_path


        %a.exit-off-canvas

        .sticky-nav.contain-to-grid.drop-shadow.show-for-large-up
          %nav.top-bar{ 'data-topbar' => '', role: 'navigation'}
            %ul.title-area
              %li.name
                %h1
                  = link_to 'Joynuss Staffing', root_url
              %li.toggle-topbar.menu-icon
                %a{href: '#'}
                  %span

            %section.top-bar-section
              %ul.right
                %li= link_to 'Employers', employers_path
                %li= link_to 'Blog', posts_path
                %li= link_to 'About', about_index_path
                %li= link_to 'Contact Us', contact_index_path
                %li.ml-= link_to 'Find a Job', jobs_path, class: 'button secondary radius'

        %main{ role: 'main', id: controller_name }
          = yield

        #pusher

        %footer
          .row
            .columns.medium-5.medium-push-7
              %div.social-icons-container
                %ul.inline-list.social-icons
                  %li
                    %a.fa.fa-facebook{href: '#'}
                  %li
                    %a.fa.fa-twitter{href: '#'}
                  %li
                    %a.fa.fa-instagram{href: '#'}
                  %li
                    %a.fa.fa-linkedin{href: '#'}
            .columns.medium-7.medium-pull-5
              %p.small &#169; Joynus Staffing #{Time.now.year}. All Rights Reserved.
