!!!
%html
%head
  %title Joynuss Staffing
  %meta{ charset: 'utf-8'}
  %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'vendor/modernizr'
  = csrf_meta_tags
%body
  .sticky.contain-to-grid
    %nav.top-bar{ 'data-topbar' => '', role: 'navigation'}
      %ul.title-area
        %li.name
          %h1
            = link_to 'Joynuss Staffing', root_url
        %li.toggle-topbar.menu-icon
          %a{href: '#'}
            %span

      %section.top-bar-section
        %ul.right
          %li
            = link_to 'Employers', employers_path
          %li
            %a{href: '#'} Blog
          %li
            = link_to 'About', about_index_path
          %li
            %a{href: '#'} Contact Us
          %li
            %a.button.secondary.radius{href: '#'} Find a Job

  = yield

  %footer
    .row
      .columns.large-9
        %p.small &#169; Joynus Staffing #{Time.now.year}. All Rights Reserved.
      .columns.large-3
        %ul.inline-list.social-icons
          %li
            %a.fa.fa-facebook{href: '#'}
          %li
            %a.fa.fa-twitter{href: '#'}
          %li
            %a.fa.fa-instagram{href: '#'}
          %li
            %a.fa.fa-linkedin{href: '#'}

  = javascript_include_tag 'application'
